node-red/.flows.json.backup
[{"id":"23de75b83743301b","type":"tab","label":"Trigger - Bewegungsmelder EG","disabled":false,"info":"Bewegung - EG","env":[]},{"id":"5b8335d6953b0c6e","type":"tab","label":"Trigger - Sonne","disabled":false,"info":"","env":[]},{"id":"aacfe99f39813c33","type":"tab","label":"Trigger - Bestimmte Zeiten","disabled":false,"info":"","env":[]},{"id":"3751dacde1ce381e","type":"tab","label":"Trigger - Anwesenheit Personen","disabled":false,"info":"","env":[]},{"id":"a9e2b1e172102919","type":"tab","label":"Alarmfunktionen","disabled":false,"info":"Abwesenheit - home_away","env":[]},{"id":"b74f3aac1f073cdf","type":"tab","label":"Rollladenfunktionen","disabled":false,"info":"","env":[]},{"id":"281b4b3da3a92e49","type":"tab","label":"Statusbenachrichtigung","disabled":false,"info":"","env":[]},{"id":"bf50ba93627b93a9","type":"tab","label":"Notification Alexa","disabled":false,"info":"","env":[]},{"id":"621709dd3ec9efe9","type":"tab","label":"Notification Telegram","disabled":false,"info":"","env":[]},{"id":"af6d683e.b030f8","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"30614e38285a0c5c","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.178.75","proxyPort":"3456","cookieFile":"alexa_creds","refreshInterval":"3","alexaServiceHost":"layla.amazon.de","amazonPage":"amazon.de","acceptLanguage":"de-DE","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"fa7196b63b858309","type":"server-state-changed","z":"23de75b83743301b","name":"Bewegung EG","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":200,"wires":[["2cb562faa5068325"],[]]},{"id":"1a1478ecee4da21c","type":"link out","z":"23de75b83743301b","name":"Bewegungsmelder EG","mode":"link","links":["b47ca0d6f618dfc2"],"x":485,"y":200,"wires":[]},{"id":"2cb562faa5068325","type":"change","z":"23de75b83743301b","name":"Auslöser","rules":[{"t":"set","p":"device","pt":"global","to":"Bewegungsmelder Erdgeschoss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["1a1478ecee4da21c"]]},{"id":"e75218597935dd9d","type":"ha-get-entities","z":"23de75b83743301b","name":"","server":"af6d683e.b030f8","version":0,"rules":[{"property":"attributes.forecast.0","logic":"gt","value":"5","valueType":"num"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":210,"y":400,"wires":[["7f50d79f2499fb10"]]},{"id":"7f50d79f2499fb10","type":"debug","z":"23de75b83743301b","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":400,"wires":[]},{"id":"f749dcd20a0e79b1","type":"inject","z":"23de75b83743301b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":480,"wires":[["e75218597935dd9d"]]},{"id":"0fd2682798b1e44e","type":"inject","z":"5b8335d6953b0c6e","name":"Alle 1 Stunden","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["b5b021dd1ab20527"]]},{"id":"09fb036538b8ba47","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Aussentemperatur über 23°","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"23","halt_if_type":"num","halt_if_compare":"gte","entity_id":"weather.dwd_weather_diedorf_schwaben_bib","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":140,"wires":[["ca9ec64810371927"],["a0abfdb0df68c960"]]},{"id":"b5b021dd1ab20527","type":"time-range-switch","z":"5b8335d6953b0c6e","name":"Spanne agsüber","lat":"48.36","lon":"10.89","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":340,"y":140,"wires":[[],[]]},{"id":"ca9ec64810371927","type":"link out","z":"5b8335d6953b0c6e","name":"Hitzestellung","mode":"link","links":["2beb4d1cf5661707"],"x":765,"y":140,"wires":[]},{"id":"a0abfdb0df68c960","type":"link out","z":"5b8335d6953b0c6e","name":"Lüften","mode":"link","links":["6ccd3d8c5e25b388"],"x":765,"y":200,"wires":[]},{"id":"e01e84d936f79788","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 117 Grad. Sonne auf Süsseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["6d514f678b358fb4"]]},{"id":"6d514f678b358fb4","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":340,"wires":[]},{"id":"fb597edfa0fb182f","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Südseite - Azimuth >= 279","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"279","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":700,"wires":[["24104cddf9990e8f"],[]]},{"id":"b40b396535abe43b","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 279 Grad. Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":700,"wires":[["b1323e8a331b0b85"]]},{"id":"b1323e8a331b0b85","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":700,"wires":[]},{"id":"f934497b74dd2e70","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne auf Westseite - Azimuth >= 208","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"208","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":520,"wires":[["9ba48b94a7abd0fc"],[]]},{"id":"22aeaf34abb07ad3","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 208 Grad. Sonne auf Westseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["4dba6c37d958a7cf"]]},{"id":"4dba6c37d958a7cf","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":520,"wires":[]},{"id":"dee2bb08c5bb40c0","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 311 Grad. Keine Sonne mehr auf Westseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":860,"wires":[["80d39ebcde9efe5d"]]},{"id":"80d39ebcde9efe5d","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":860,"wires":[]},{"id":"8aca087903e3d17b","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Westseite - Azimuth >= 311","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"311","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":860,"wires":[["439cf27b2df2980b"],[]]},{"id":"bf05ae4963c8719a","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne auf Südseite - Azimuth >= 117","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"117","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":340,"wires":[["045b206183c30cba"],[]]},{"id":"045b206183c30cba","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 118","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"118","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":340,"wires":[["e01e84d936f79788"],[]]},{"id":"9ba48b94a7abd0fc","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 209","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"209","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":520,"wires":[["22aeaf34abb07ad3"],[]]},{"id":"24104cddf9990e8f","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 208","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"280","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":700,"wires":[["b40b396535abe43b"],[]]},{"id":"439cf27b2df2980b","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 312","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"312","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":860,"wires":[["dee2bb08c5bb40c0"],[]]},{"id":"2c456b22f90c6c8c","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Südseite - Azimuth >= 250","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"250","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1000,"wires":[["5cb53a4d7b100173"],[]]},{"id":"ebb5446bae4ef134","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 250 Grad. Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1000,"wires":[["328adabbbe555459"]]},{"id":"328adabbbe555459","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":1000,"wires":[]},{"id":"5cb53a4d7b100173","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 251","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"251","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1000,"wires":[["ebb5446bae4ef134"],[]]},{"id":"ef795e8c5066a7ec","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Südseite - Azimuth >= 255","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"255","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1040,"wires":[["7166a20cd4b0ede5"],[]]},{"id":"ca6252962223712f","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 256 Grad. Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1040,"wires":[["bc34fdcb4a8208f1"]]},{"id":"bc34fdcb4a8208f1","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":1040,"wires":[]},{"id":"7166a20cd4b0ede5","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 256","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"256","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1040,"wires":[["ca6252962223712f"],[]]},{"id":"576c74d893c4b2bb","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Südseite - Azimuth >= 279","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"279","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1080,"wires":[["de6920b97559341f"],[]]},{"id":"f01f2955d64d2055","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 279 Grad. Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1080,"wires":[["38a3a0b5ee52a0f0"]]},{"id":"38a3a0b5ee52a0f0","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":1080,"wires":[]},{"id":"de6920b97559341f","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 208","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"280","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1080,"wires":[["f01f2955d64d2055"],[]]},{"id":"8c6e5d19293e0495","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Keine Sonne Südseite - Azimuth >= 279","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"279","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1120,"wires":[["589fe08baac25b20"],[]]},{"id":"d8aaf5181abcb1cf","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Azimuth liegt bei 279 Grad. Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1120,"wires":[["8dcc8030060e1095"]]},{"id":"8dcc8030060e1095","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":835,"y":1120,"wires":[]},{"id":"589fe08baac25b20","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 208","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"280","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1120,"wires":[["d8aaf5181abcb1cf"],[]]},{"id":"347d8427dae14863","type":"inject","z":"aacfe99f39813c33","name":"Mittagsschlaf - Josefine","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["9cf2e22227f3b8fc"]]},{"id":"ac9b6dd8e743d0c8","type":"link out","z":"aacfe99f39813c33","name":"Trigger - Mittagsschlaf Josefine","mode":"link","links":["041a975cfe86e757"],"x":595,"y":120,"wires":[]},{"id":"c353c4263f92fb6a","type":"inject","z":"aacfe99f39813c33","name":"07:30 - Rollläden öffnen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["10932242551c10ac"]]},{"id":"10932242551c10ac","type":"api-current-state","z":"aacfe99f39813c33","name":"Alarm armed away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":200,"wires":[["b64d6be53671edb0"],[]]},{"id":"9cf2e22227f3b8fc","type":"api-current-state","z":"aacfe99f39813c33","name":"Alarm disarmed","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":120,"wires":[["ac9b6dd8e743d0c8"],[]]},{"id":"b64d6be53671edb0","type":"link out","z":"aacfe99f39813c33","name":"Trigger - Rollläden öffnen","mode":"link","links":["115f24617e87c7df"],"x":595,"y":200,"wires":[]},{"id":"848bef9952dd7286","type":"inject","z":"aacfe99f39813c33","name":"21:00 - Rollläden schliessen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":280,"wires":[["593970e8a7457485"]]},{"id":"593970e8a7457485","type":"api-current-state","z":"aacfe99f39813c33","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":280,"wires":[["c1334b0ae284f04f"],[]]},{"id":"c1334b0ae284f04f","type":"link out","z":"aacfe99f39813c33","name":"Trigger - Rollläden schliessen","mode":"link","links":["75e562d514cc50a1"],"x":595,"y":280,"wires":[]},{"id":"862f9e8499821af4","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Andreas","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":140,"wires":[[],[]]},{"id":"91d0fbd0f4d21301","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Carolin","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.puppis_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":200,"wires":[[],[]]},{"id":"424560ed2e3b1ccd","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Sebastian","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.sebastians_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":260,"wires":[["45fe4fd4d847193e"],[]]},{"id":"45fe4fd4d847193e","type":"change","z":"3751dacde1ce381e","name":"Schreibe Variable - Last recognized Person","rules":[{"t":"set","p":"recognized_person","pt":"global","to":"Sebastian","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[[]]},{"id":"50d780fa6aede105","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Christina","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.christinas_ipod_touch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":320,"wires":[[],[]]},{"id":"6d4f9b49614a3c3b","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":100,"wires":[["1494acb8f489df2b","0a1c990a1f69d519","be0be155c72f9030","5cc3d14d665da7b3"],[]]},{"id":"70541ec19eb6e0f4","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"70","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":600,"wires":[["805161e42ad64ec2"]]},{"id":"805161e42ad64ec2","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":600,"wires":[["b5159bb700a555d3"],[]]},{"id":"b5159bb700a555d3","type":"api-call-service","z":"a9e2b1e172102919","name":"Einbruchalarm","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Der Alarm wurde ausgelöst durch: {{ flow.device }} !! Die Alarmanlage wurde nicht deaktiviert !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":600,"wires":[["0d5049ac9c762bfe"]]},{"id":"d6692f55e290188e","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":420,"wires":[["58671c997d2da98c"]]},{"id":"58671c997d2da98c","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":420,"wires":[["2aa5ee32f1ddab07"],[]]},{"id":"0d5049ac9c762bfe","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":600,"wires":[["32a4327faa9b47b7"],[]]},{"id":"32a4327faa9b47b7","type":"time-range-switch","z":"a9e2b1e172102919","name":"","lat":"48.36","lon":"10.89","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":1210,"y":600,"wires":[["53e2ccb3e68d3bca"],["255bd71e24520df7"]]},{"id":"50b789ba9b521869","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Alarm aktiv","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Bitte verlassen Sie das Gebäude. Der Besitzer wurde bereits informiert."},"devices":["G090L909652213VJ"]}},"x":1690,"y":660,"wires":[["1aa12e8c813e7c4d"]]},{"id":"53e2ccb3e68d3bca","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Alarm aktiv","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Es wurde ein stiller Alarm ausgelöst. Der Besitzer wurde bereits informiert."},"devices":["G090L909652213VJ"]}},"x":1450,"y":600,"wires":[[]]},{"id":"255bd71e24520df7","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Red Alert","account":"30614e38285a0c5c","routineNode":{"type":"sound","payload":{"sound":{"type":"str","value":"amzn_sfx_scifi_alarm_04"},"devices":["G090L910725308W0"]}},"x":1450,"y":660,"wires":[["50b789ba9b521869"]]},{"id":"1aa12e8c813e7c4d","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Red Alert","account":"30614e38285a0c5c","routineNode":{"type":"sound","payload":{"sound":{"type":"str","value":"amzn_sfx_scifi_alarm_04"},"devices":["G090L910725308W0"]}},"x":1930,"y":660,"wires":[[]]},{"id":"c5b81c0d928a1758","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":500,"wires":[["d01f5aaa0b4c867d"]]},{"id":"d01f5aaa0b4c867d","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":500,"wires":[["b0085270db4b6973"],[]]},{"id":"9d582174d5f8f05d","type":"link in","z":"a9e2b1e172102919","name":"alarm auslösen","links":["37672f9e33bef747"],"x":155,"y":420,"wires":[["d6692f55e290188e","c5b81c0d928a1758","70541ec19eb6e0f4"]]},{"id":"37672f9e33bef747","type":"link out","z":"a9e2b1e172102919","name":"Alarmierung","mode":"link","links":["9d582174d5f8f05d"],"x":1095,"y":180,"wires":[]},{"id":"b47ca0d6f618dfc2","type":"link in","z":"a9e2b1e172102919","name":"alarm prüfen","links":["1a1478ecee4da21c"],"x":155,"y":100,"wires":[["6d4f9b49614a3c3b"]]},{"id":"a4c336ee440a5141","type":"change","z":"a9e2b1e172102919","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Der Alarm wird ausgelöst.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Sie wurden nicht als Bewohner oder Besucher identifiziert. Der Alarm wird ausgelöst.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":140,"wires":[["e5f1aec0491ee802","370585d00d28e491"]]},{"id":"e5f1aec0491ee802","type":"link out","z":"a9e2b1e172102919","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":1355,"y":140,"wires":[]},{"id":"dd0cac8f251cc378","type":"link out","z":"a9e2b1e172102919","name":"Bewegung erkannt","mode":"link","links":["0fbac5b4787bc39c"],"x":975,"y":420,"wires":[]},{"id":"2aa5ee32f1ddab07","type":"change","z":"a9e2b1e172102919","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegung durch erkannt !!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"1. Erinnerung","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Bewegung erkannt. Bitte deaktiviere die Alarmanlage.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":420,"wires":[["3078c588d36a5af6","dd0cac8f251cc378"]]},{"id":"3078c588d36a5af6","type":"link out","z":"a9e2b1e172102919","name":"Bewegung erkannt","mode":"link","links":["6f6d32f8179ac907"],"x":975,"y":460,"wires":[]},{"id":"7c4c07a2907a6ddd","type":"link in","z":"a9e2b1e172102919","name":"deaktivieren","links":["13cf0d6f6888ce16","100eda4aa70cf08d","c3a0e7406f90916c","d7cd173865e094de"],"x":165,"y":800,"wires":[["8eae0dfbaedf679b"]]},{"id":"bdc024473aba7a52","type":"api-call-service","z":"a9e2b1e172102919","name":"Alarm deaktivieren","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":[],"data":"{\"code\":\"4161\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":800,"wires":[[]]},{"id":"e6d7f98bc44e1496","type":"link in","z":"a9e2b1e172102919","name":"aktivieren","links":[],"x":165,"y":720,"wires":[["87c24c01a50e3ab5"]]},{"id":"dc8096097075d76a","type":"api-call-service","z":"a9e2b1e172102919","name":"Alarm aktivieren","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":[],"deviceId":[],"entityId":[],"data":"{\"code\":\"4161\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":720,"wires":[[]]},{"id":"87c24c01a50e3ab5","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarm disarmed","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":720,"wires":[["dc8096097075d76a"],[]]},{"id":"8eae0dfbaedf679b","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":800,"wires":[["bdc024473aba7a52"],[]]},{"id":"d57e3299af234e76","type":"link in","z":"a9e2b1e172102919","name":"pausieren","links":["e9eaead3a7184209"],"x":165,"y":940,"wires":[["783c08498ac4f4e7"]]},{"id":"783c08498ac4f4e7","type":"api-call-service","z":"a9e2b1e172102919","name":"Alarm Pause 60min","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.alarm_pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":940,"wires":[["fc3a78ce667a8933"]]},{"id":"fc3a78ce667a8933","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":940,"wires":[["02efeb6070c60973"]]},{"id":"02efeb6070c60973","type":"api-call-service","z":"a9e2b1e172102919","name":"Alarm Pause off","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.alarm_pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":940,"wires":[[]]},{"id":"0b124d6534130a39","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarm paused?","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.alarm_pause","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":940,"y":140,"wires":[[],["37672f9e33bef747","a4c336ee440a5141"]]},{"id":"370585d00d28e491","type":"link out","z":"a9e2b1e172102919","name":"Alexa Notification","mode":"link","links":["0fbac5b4787bc39c"],"x":1355,"y":180,"wires":[]},{"id":"b0085270db4b6973","type":"change","z":"a9e2b1e172102919","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"{\"message\":\"Bewegung durch {{ global.device }} erkannt !!\"}","tot":"json"},{"t":"set","p":"title_telegram","pt":"global","to":"2. Erinnerung!","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Bewegung erkannt. Bitte deaktiviere die Alarmanlage.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[["5be2d40f72675d21","7d772e275e1bce74"]]},{"id":"7d772e275e1bce74","type":"link out","z":"a9e2b1e172102919","name":"Bewegung erkannt","mode":"link","links":["6f6d32f8179ac907"],"x":975,"y":540,"wires":[]},{"id":"5be2d40f72675d21","type":"link out","z":"a9e2b1e172102919","name":"Bewegung erkannt","mode":"link","links":["0fbac5b4787bc39c"],"x":975,"y":500,"wires":[]},{"id":"1494acb8f489df2b","type":"api-current-state","z":"a9e2b1e172102919","name":"Anweseneheit Andreas home","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.iphone_4","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":220,"wires":[["d7cd173865e094de"],[]]},{"id":"0a1c990a1f69d519","type":"api-current-state","z":"a9e2b1e172102919","name":"Anweseneheit Carolin home","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.puppis_iphone","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":260,"wires":[["d7cd173865e094de"],[]]},{"id":"d7cd173865e094de","type":"link out","z":"a9e2b1e172102919","name":"Alarm durch Anwesenheit deaktivieren","mode":"link","links":["7c4c07a2907a6ddd"],"x":825,"y":220,"wires":[]},{"id":"be0be155c72f9030","type":"api-current-state","z":"a9e2b1e172102919","name":"Anweseneheit Sebastian home","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.sebastians_iphone","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":100,"wires":[["e9eaead3a7184209","c7d104846b3ad463"],[]]},{"id":"e9eaead3a7184209","type":"link out","z":"a9e2b1e172102919","name":"Alarm pausieren","mode":"link","links":["d57e3299af234e76"],"x":875,"y":60,"wires":[]},{"id":"5cc3d14d665da7b3","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":630,"y":140,"wires":[["0b124d6534130a39"]]},{"id":"c7d104846b3ad463","type":"change","z":"a9e2b1e172102919","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sebastian wurde über die Deaktivierung der Alarmanlage informiert","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Hallo Sebastian, die Alarmanlage wurde für 60min deaktiviert.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["058fe8399b575a3b","b1d880fed1ba2e4b"]]},{"id":"058fe8399b575a3b","type":"link out","z":"a9e2b1e172102919","name":"Alexa Notification","mode":"link","links":["0fbac5b4787bc39c"],"x":1125,"y":100,"wires":[]},{"id":"b1d880fed1ba2e4b","type":"link out","z":"a9e2b1e172102919","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":1125,"y":60,"wires":[]},{"id":"0a7022ea73052e5b","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":2440,"wires":[[]]},{"id":"6e898a4aaa227b03","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2500,"wires":[[]]},{"id":"9360a2fc8ce55af5","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2560,"wires":[[]]},{"id":"6fb6614b88cde53e","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1860,"wires":[[]]},{"id":"1ea05863cd0d08ea","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Schlafzimmer hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":2620,"wires":[[]]},{"id":"e66906b62eacc05d","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2720,"wires":[[]]},{"id":"138c6234617738b7","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":2680,"wires":[["54aa659192db2869"]]},{"id":"4213579e2f593c98","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":2680,"wires":[["138c6234617738b7"]]},{"id":"54aa659192db2869","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2680,"wires":[[]]},{"id":"c255c019f42e1551","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":540,"wires":[["ca9ab0cbd4edf691"]]},{"id":"97573b50f3b8915d","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":420,"wires":[["1a76c0bd637c9ffd"]]},{"id":"78e8636f5d8f33ca","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":480,"wires":[["3e16c307a36812b6"]]},{"id":"eb4345d5da310124","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":600,"wires":[["83d9ad90dfd44d36"]]},{"id":"ce7130d83a8e1a51","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":660,"wires":[["5a13b11dd302db42"]]},{"id":"bae8b519c34e14ce","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"105","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":720,"wires":[["74244288e8134528"]]},{"id":"d50f0d4aa612fdbd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":900,"wires":[["52a1c7856f736544"]]},{"id":"6c0fee4cc7032681","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":780,"wires":[["0fc48d4868f12b8c"]]},{"id":"f4be1668a9d395fd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":840,"wires":[["fa8e3132acf8bfde"]]},{"id":"99c3b4ad7039ec1b","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":960,"wires":[["de806d10d31589b5"]]},{"id":"7d5ffd51b6c43bca","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1020,"wires":[["55fbdaa9d1682ccf"]]},{"id":"d621f9fcf723f8c0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"105","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1080,"wires":[["c44586cc46a238f8"]]},{"id":"6435d11a46534431","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"90\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":120,"wires":[["b9d270ca7c0c02bc"]]},{"id":"041a975cfe86e757","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine verzögert schliessen","links":["ac9b6dd8e743d0c8"],"x":495,"y":120,"wires":[["6435d11a46534431"]]},{"id":"115f24617e87c7df","type":"link in","z":"b74f3aac1f073cdf","name":"Alle öffnen","links":["b64d6be53671edb0"],"x":495,"y":420,"wires":[["97573b50f3b8915d","78e8636f5d8f33ca","c255c019f42e1551","eb4345d5da310124","ce7130d83a8e1a51","bae8b519c34e14ce"]]},{"id":"75e562d514cc50a1","type":"link in","z":"b74f3aac1f073cdf","name":"Alle schliessen","links":["c1334b0ae284f04f"],"x":495,"y":780,"wires":[["6c0fee4cc7032681","f4be1668a9d395fd","d50f0d4aa612fdbd","99c3b4ad7039ec1b","7d5ffd51b6c43bca","d621f9fcf723f8c0"]]},{"id":"6b48b232ddc212d4","type":"link in","z":"b74f3aac1f073cdf","name":"Terrassentür schliessen","links":[],"x":495,"y":1860,"wires":[["6fb6614b88cde53e"]]},{"id":"b9d270ca7c0c02bc","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":120,"wires":[["2672ef0add13daf7"]]},{"id":"a780396aa0f1dcb6","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":180,"wires":[["6bfc6f8492c2cae4"]]},{"id":"33694eab7b3fca3a","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":240,"wires":[[]]},{"id":"5d3137ba15a74ec0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":240,"wires":[["a6a04f8f0c5a1bcb"]]},{"id":"2672ef0add13daf7","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"80\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":180,"wires":[["a780396aa0f1dcb6"]]},{"id":"6bfc6f8492c2cae4","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"70\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":240,"wires":[["5d3137ba15a74ec0"]]},{"id":"61f93093495d2fa3","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":360,"wires":[[]]},{"id":"29c71802b70ea002","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":300,"wires":[["61f93093495d2fa3"]]},{"id":"a6a04f8f0c5a1bcb","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"60\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":300,"wires":[["29c71802b70ea002"]]},{"id":"db84f9556417e516","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":2320,"wires":[[]]},{"id":"a29d67a9ac1bf896","type":"link in","z":"b74f3aac1f073cdf","name":"Terrassentür öffnen","links":[],"x":495,"y":2320,"wires":[["db84f9556417e516"]]},{"id":"14fb245957441763","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1920,"wires":[[]]},{"id":"f2a34612ef833f4b","type":"link in","z":"b74f3aac1f073cdf","name":"Terrasse schliessen","links":["0fc48d4868f12b8c","fbd38c733498ba43"],"x":495,"y":1920,"wires":[["14fb245957441763"]]},{"id":"0fc48d4868f12b8c","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse runter","mode":"link","links":["f2a34612ef833f4b"],"x":1015,"y":780,"wires":[]},{"id":"ab881d2303991cce","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":1980,"wires":[[]]},{"id":"0b1ef0a157921b3e","type":"link in","z":"b74f3aac1f073cdf","name":"Küche schliessen","links":["fa8e3132acf8bfde","7fcb24ff19c9104a"],"x":495,"y":1980,"wires":[["ab881d2303991cce"]]},{"id":"fa8e3132acf8bfde","type":"link out","z":"b74f3aac1f073cdf","name":"Küche runter","mode":"link","links":["0b1ef0a157921b3e"],"x":1015,"y":840,"wires":[]},{"id":"69813c10456ca67c","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2040,"wires":[[]]},{"id":"2488236d46b1a244","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte schliessen","links":["52a1c7856f736544","5c72fbf643581310","2f0bab2aeed4326c"],"x":495,"y":2040,"wires":[["69813c10456ca67c"]]},{"id":"52a1c7856f736544","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte runter","mode":"link","links":["2488236d46b1a244"],"x":1015,"y":900,"wires":[]},{"id":"5c78770b9126e7c1","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2100,"wires":[[]]},{"id":"aa8a26620245ab6a","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine schliessen","links":["55fbdaa9d1682ccf","d25cc09b94e77ede"],"x":495,"y":2100,"wires":[["5c78770b9126e7c1"]]},{"id":"55fbdaa9d1682ccf","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine runter","mode":"link","links":["aa8a26620245ab6a"],"x":1015,"y":1020,"wires":[]},{"id":"be963c689846da37","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Schlafzimmer runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2160,"wires":[[]]},{"id":"c44586cc46a238f8","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer runter","mode":"link","links":["1baa7687cda463ca"],"x":1015,"y":1080,"wires":[]},{"id":"1baa7687cda463ca","type":"link in","z":"b74f3aac1f073cdf","name":"Schlafzimmer schliessen","links":["c44586cc46a238f8","81aede5d5f0af09a","7e9e06668a9e6120"],"x":495,"y":2160,"wires":[["be963c689846da37"]]},{"id":"a8147e1be87980f3","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":2220,"wires":[["1c16c72d8311b82c"]]},{"id":"9c7716a5c16e7280","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2260,"wires":[[]]},{"id":"f80969b50b92338d","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":2220,"wires":[["a8147e1be87980f3"]]},{"id":"1c16c72d8311b82c","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2220,"wires":[[]]},{"id":"ce3e44bf36a89533","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Dach schliessen","links":["de806d10d31589b5","983f23214fad0289"],"x":495,"y":2220,"wires":[["f80969b50b92338d","9c7716a5c16e7280"]]},{"id":"de806d10d31589b5","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach runter","mode":"link","links":["ce3e44bf36a89533"],"x":1015,"y":960,"wires":[]},{"id":"4c188568e80750ac","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2380,"wires":[[]]},{"id":"794ee361666f1bb5","type":"link in","z":"b74f3aac1f073cdf","name":"Terrasse öffnen","links":["1a76c0bd637c9ffd","3b9381881ba70920"],"x":495,"y":2380,"wires":[["4c188568e80750ac"]]},{"id":"1a76c0bd637c9ffd","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse hoch","mode":"link","links":["794ee361666f1bb5"],"x":1015,"y":420,"wires":[]},{"id":"b1ab417e0fbc5739","type":"link in","z":"b74f3aac1f073cdf","name":"Küche öffnen","links":["3e16c307a36812b6","01978d133b688df3"],"x":495,"y":2440,"wires":[["0a7022ea73052e5b"]]},{"id":"3e16c307a36812b6","type":"link out","z":"b74f3aac1f073cdf","name":"Küche hoch","mode":"link","links":["b1ab417e0fbc5739"],"x":1015,"y":480,"wires":[]},{"id":"441e33a656f2b958","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte öffnen","links":["ca9ab0cbd4edf691","4d5481527d059d1d","29198c10a42ae104"],"x":495,"y":2500,"wires":[["6e898a4aaa227b03"]]},{"id":"ca9ab0cbd4edf691","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["441e33a656f2b958"],"x":1015,"y":540,"wires":[]},{"id":"d5acbb999dcd7139","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine öffnen","links":["5a13b11dd302db42","e7c2897ec280e549"],"x":495,"y":2560,"wires":[["9360a2fc8ce55af5"]]},{"id":"144fe1e7b743db08","type":"link in","z":"b74f3aac1f073cdf","name":"Schlafzimmer öffnen","links":["74244288e8134528","7182a763767dfe8a"],"x":495,"y":2620,"wires":[["1ea05863cd0d08ea"]]},{"id":"8f4c8b5fb5080b9e","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Dach öffnen","links":["83d9ad90dfd44d36","b15359bdbd223cde"],"x":495,"y":2680,"wires":[["4213579e2f593c98","e66906b62eacc05d"]]},{"id":"83d9ad90dfd44d36","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach hoch","mode":"link","links":["8f4c8b5fb5080b9e"],"x":1015,"y":600,"wires":[]},{"id":"5a13b11dd302db42","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["d5acbb999dcd7139"],"x":1015,"y":660,"wires":[]},{"id":"74244288e8134528","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer hoch","mode":"link","links":["144fe1e7b743db08"],"x":1015,"y":720,"wires":[]},{"id":"1b9ee93d211be3ba","type":"link in","z":"b74f3aac1f073cdf","name":"Südseite schliessen","links":["9ee46b63337542fe","32f81edea8f52bb8"],"x":495,"y":1140,"wires":[["60dac0fd11b5d807","b4588553b991fb34","bfabb5c4fec4b64e"]]},{"id":"60dac0fd11b5d807","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1140,"wires":[["fbd38c733498ba43"]]},{"id":"b4588553b991fb34","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1200,"wires":[["983f23214fad0289"]]},{"id":"bfabb5c4fec4b64e","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1260,"wires":[["81aede5d5f0af09a"]]},{"id":"fbd38c733498ba43","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse runter","mode":"link","links":["f2a34612ef833f4b"],"x":1015,"y":1140,"wires":[]},{"id":"983f23214fad0289","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach runter","mode":"link","links":["ce3e44bf36a89533"],"x":1015,"y":1200,"wires":[]},{"id":"81aede5d5f0af09a","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer runter","mode":"link","links":["1baa7687cda463ca"],"x":1015,"y":1260,"wires":[]},{"id":"655e4f87b9cc8e16","type":"link in","z":"b74f3aac1f073cdf","name":"Südseite öffnen","links":["32f81edea8f52bb8","61b2c65a38819e4a"],"x":495,"y":1320,"wires":[["c59a271af1300dd7","453dce903fd69eee","c8ed3dcb93397cdd"]]},{"id":"c59a271af1300dd7","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1320,"wires":[["3b9381881ba70920"]]},{"id":"453dce903fd69eee","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1380,"wires":[["b15359bdbd223cde"]]},{"id":"c8ed3dcb93397cdd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1440,"wires":[["7182a763767dfe8a"]]},{"id":"3b9381881ba70920","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse hoch","mode":"link","links":["794ee361666f1bb5"],"x":1015,"y":1320,"wires":[]},{"id":"b15359bdbd223cde","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach hoch","mode":"link","links":["8f4c8b5fb5080b9e"],"x":1015,"y":1380,"wires":[]},{"id":"7182a763767dfe8a","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer hoch","mode":"link","links":["144fe1e7b743db08"],"x":1015,"y":1440,"wires":[]},{"id":"c11cbac25b93e031","type":"link in","z":"b74f3aac1f073cdf","name":"Westseite schliessen","links":["32f81edea8f52bb8","9ee46b63337542fe","dd242ff36c2377a3"],"x":495,"y":1500,"wires":[["8b708aa6d932a0ae","327ae29ad1688ca3","a90d6243cf417ca6"]]},{"id":"8b708aa6d932a0ae","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1500,"wires":[["7fcb24ff19c9104a"]]},{"id":"327ae29ad1688ca3","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1560,"wires":[["2f0bab2aeed4326c"]]},{"id":"a90d6243cf417ca6","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1620,"wires":[["d25cc09b94e77ede"]]},{"id":"7fcb24ff19c9104a","type":"link out","z":"b74f3aac1f073cdf","name":"Küche runter","mode":"link","links":["0b1ef0a157921b3e"],"x":1015,"y":1500,"wires":[]},{"id":"2f0bab2aeed4326c","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte runter","mode":"link","links":["2488236d46b1a244"],"x":1015,"y":1560,"wires":[]},{"id":"d25cc09b94e77ede","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine runter","mode":"link","links":["aa8a26620245ab6a"],"x":1015,"y":1620,"wires":[]},{"id":"32059a946226a260","type":"link in","z":"b74f3aac1f073cdf","name":"Westseite öffnen","links":["32f81edea8f52bb8","9ee46b63337542fe","801b4cf6f5e469fd"],"x":495,"y":1680,"wires":[["78fb9b581ed4d7d0","89cbe247d01d54fa","81a4d60cb35bdd3c"]]},{"id":"78fb9b581ed4d7d0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1680,"wires":[["01978d133b688df3"]]},{"id":"89cbe247d01d54fa","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1740,"wires":[["29198c10a42ae104"]]},{"id":"81a4d60cb35bdd3c","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1800,"wires":[["e7c2897ec280e549"]]},{"id":"01978d133b688df3","type":"link out","z":"b74f3aac1f073cdf","name":"Küche hoch","mode":"link","links":["b1ab417e0fbc5739"],"x":1015,"y":1680,"wires":[]},{"id":"29198c10a42ae104","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["441e33a656f2b958"],"x":1015,"y":1740,"wires":[]},{"id":"e7c2897ec280e549","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["d5acbb999dcd7139"],"x":1015,"y":1800,"wires":[]},{"id":"60e13574452735a7","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Schlafzimmer Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992e96b","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":120,"wires":[["a008df33ecd65343"],["c358defb6c811deb"]]},{"id":"352a54f163f921f0","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Terrassentür Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.neq1320731","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":220,"wires":[["f715a1f7b95b7eab"],["b159f07e2d7d49a4"]]},{"id":"133a497ffdce6a7a","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Terrasse Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.neq1320714","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":320,"wires":[["680c35a20d239e62"],["47baba111fc4badb"]]},{"id":"8d1d55a6629fde10","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Küche Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.oeq1220262","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":420,"wires":[["1dd3977e36354476"],["7f819119e50db251"]]},{"id":"907096263cb577cb","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Charlotte Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992ea44","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":520,"wires":[["7364c187dce5d073"],["e897afefcb53c4f1"]]},{"id":"53f2a40be770dc59","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Garagentor","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.00131f298ab97c","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":820,"wires":[["e0eb5c1ce0bc718c"],["e0eb5c1ce0bc718c"]]},{"id":"4843ac51a9a6f082","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Charlotte Dach Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d89991b61","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":620,"wires":[["97344b6878e226e6"],["32978d47f970e42b"]]},{"id":"40edabbcc5c6066c","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Josefine Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992ea34","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":720,"wires":[["28b814c9843319ee"],["0ac190936b6d960a"]]},{"id":"a008df33ecd65343","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Schlafzimmer wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["31e2d85a51ee364f"]]},{"id":"c358defb6c811deb","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Schlafzimmer wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["31e2d85a51ee364f"]]},{"id":"f715a1f7b95b7eab","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrassentür wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["31e2d85a51ee364f"]]},{"id":"b159f07e2d7d49a4","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrassentür wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["31e2d85a51ee364f"]]},{"id":"680c35a20d239e62","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrasse wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["31e2d85a51ee364f"]]},{"id":"47baba111fc4badb","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrasse wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["31e2d85a51ee364f"]]},{"id":"1dd3977e36354476","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Küche wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["31e2d85a51ee364f"]]},{"id":"7f819119e50db251","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Küche wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["31e2d85a51ee364f"]]},{"id":"7364c187dce5d073","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["31e2d85a51ee364f"]]},{"id":"e897afefcb53c4f1","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["31e2d85a51ee364f"]]},{"id":"97344b6878e226e6","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte Dach wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":620,"wires":[["31e2d85a51ee364f"]]},{"id":"32978d47f970e42b","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte Dach wurde öffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["31e2d85a51ee364f"]]},{"id":"28b814c9843319ee","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Josefine wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["31e2d85a51ee364f"]]},{"id":"0ac190936b6d960a","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Josefine wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":760,"wires":[["31e2d85a51ee364f"]]},{"id":"31e2d85a51ee364f","type":"link out","z":"281b4b3da3a92e49","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":895,"y":120,"wires":[]},{"id":"e0eb5c1ce0bc718c","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Garagentor geöffnet/geschlossen","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["31e2d85a51ee364f"]]},{"id":"beb80899c03387eb","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Andreas","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":960,"wires":[["4496cb4f64458b5e"],[]]},{"id":"4496cb4f64458b5e","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Andreas ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":960,"wires":[["31e2d85a51ee364f"]]},{"id":"951e5f05f24d8739","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Carolin","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.puppis_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1020,"wires":[["18953e70d5c60772"],[]]},{"id":"18953e70d5c60772","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Carolin ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1020,"wires":[["31e2d85a51ee364f"]]},{"id":"4fe6d9e0104a0123","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Sebastian","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.sebastians_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1080,"wires":[["287a157dd1d32f78"],[]]},{"id":"287a157dd1d32f78","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sebastian ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1080,"wires":[["31e2d85a51ee364f"]]},{"id":"39ed21af09ac9f39","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Alarm - Armed Away","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1240,"wires":[["c56ea9354e84dd67"],[]]},{"id":"8a036f257ebac34d","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Alarm - Disarmed","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1320,"wires":[["c1ad1d2f19ad0a2c"],[]]},{"id":"c1ad1d2f19ad0a2c","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Alarmanlage deaktiviert","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Alarmanlage deaktiviert!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1320,"wires":[["31e2d85a51ee364f","2a42a13906e063b9"]]},{"id":"c56ea9354e84dd67","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Alarmanlage aktiviert!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Alarmanlage aktiviert!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1240,"wires":[["31e2d85a51ee364f","2a42a13906e063b9"]]},{"id":"2a42a13906e063b9","type":"link out","z":"281b4b3da3a92e49","name":"Alexa Notification","mode":"link","links":[],"x":875,"y":1260,"wires":[]},{"id":"7f0c41a8fe40af88","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Christina","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.christinas_ipod_touch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1140,"wires":[["1d581ce408cc5d62"],[]]},{"id":"1d581ce408cc5d62","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Christina ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1140,"wires":[["31e2d85a51ee364f"]]},{"id":"bcc293c2d477f12c","type":"alexa-remote-routine","z":"bf50ba93627b93a9","name":"Alexa Nachricht","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"global","value":"txt_alexa"},"devices":["G090L909652213VJ"]}},"x":780,"y":160,"wires":[[]]},{"id":"0fbac5b4787bc39c","type":"link in","z":"bf50ba93627b93a9","name":"notify","links":["370585d00d28e491","5641571d92d703ce","d916ca34ba665535","dd0cac8f251cc378","5be2d40f72675d21","26ec2df19ec90834","058fe8399b575a3b"],"x":175,"y":160,"wires":[["2cc45a41487becd8","a3fb6c72413ab136"]]},{"id":"e2f7a5094b8cc4cf","type":"time-range-switch","z":"bf50ba93627b93a9","name":"","lat":"48.36","lon":"10.89","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":530,"y":160,"wires":[["bcc293c2d477f12c"],[]]},{"id":"2cc45a41487becd8","type":"api-current-state","z":"bf50ba93627b93a9","name":"Alarm disarmed","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":160,"wires":[["e2f7a5094b8cc4cf"],[]]},{"id":"a3fb6c72413ab136","type":"api-current-state","z":"bf50ba93627b93a9","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":220,"wires":[["6d7d22b55b2923de"],[]]},{"id":"6d7d22b55b2923de","type":"alexa-remote-routine","z":"bf50ba93627b93a9","name":"Alexa Nachricht","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"global","value":"txt_alexa"},"devices":["G090L909652213VJ"]}},"x":780,"y":220,"wires":[[]]},{"id":"6f6d32f8179ac907","type":"link in","z":"621709dd3ec9efe9","name":"notify","links":["3078c588d36a5af6","6d514f678b358fb4","b1323e8a331b0b85","e5f1aec0491ee802","1f7aa32efd690c5c","4888605286bbe13f","c4b1814c016ab483","9fe3a8e326654212","cb064c42b950f37e","957b51fc271995a8","7d772e275e1bce74","1876a94db5749e5e","4dba6c37d958a7cf","80d39ebcde9efe5d","31e2d85a51ee364f","b1d880fed1ba2e4b","15237bd431d5b248","50c9f41c5d8b2b42","dccd3461e969b4e1","328adabbbe555459","bc34fdcb4a8208f1","38a3a0b5ee52a0f0","8dcc8030060e1095"],"x":175,"y":160,"wires":[["b1f65db5ee367ec5"]]},{"id":"b1f65db5ee367ec5","type":"api-call-service","z":"621709dd3ec9efe9","name":"Telegram Nachricht","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\" {{ global.title_telegram }} \",\"message\":\" {{ global.txt_telegram }} \"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":160,"wires":[[]]}]