node-red/.flows.json.backup
[{"id":"a9e2b1e172102919","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"af6d683e.b030f8","type":"server","name":"Home Assistant","addon":true},{"id":"9f60a0f7ebcd139b","type":"ui_toast","z":"a9e2b1e172102919","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Achtung - Eine Nachricht","x":890,"y":300,"wires":[[]]},{"id":"49b384a4fc49208b","type":"server-state-changed","z":"a9e2b1e172102919","name":"","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.neq1316177_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":570,"y":300,"wires":[["9f60a0f7ebcd139b"],["9f60a0f7ebcd139b"]]},{"id":"3a5dd969d1aca930","type":"inject","z":"a9e2b1e172102919","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":380,"wires":[["9f60a0f7ebcd139b"]]}]