node-red/.flows.json.backup
[{"id":"e3e543702929b6b1","type":"tab","label":"InfluxDB Logging","disabled":false,"info":"","env":[]},{"id":"23de75b83743301b","type":"tab","label":"Trigger - Sensoren","disabled":false,"info":"Bewegung - EG","env":[]},{"id":"38a5b352d535ab56","type":"tab","label":"Trigger - Switch","disabled":false,"info":"","env":[]},{"id":"5b8335d6953b0c6e","type":"tab","label":"Trigger - SUN","disabled":false,"info":"","env":[]},{"id":"89e0de3974cd4770","type":"tab","label":"Trigger - MOTION","disabled":false,"info":"","env":[]},{"id":"791b769089120f19","type":"tab","label":"Trigger - ILLUMINATION","disabled":false,"info":"","env":[]},{"id":"693a10d59478c8d6","type":"tab","label":"Trigger - LOWBAT","disabled":false,"info":"","env":[]},{"id":"aacfe99f39813c33","type":"tab","label":"Trigger - Bestimmte Zeiten","disabled":false,"info":"","env":[]},{"id":"3751dacde1ce381e","type":"tab","label":"Trigger - Anwesenheit Personen","disabled":false,"info":"","env":[]},{"id":"7936ce38353db016","type":"tab","label":"Hausprogramme - AT HOME","disabled":false,"info":"","env":[]},{"id":"36b5069196f74089","type":"tab","label":"Abwesenheit","disabled":false,"info":"","env":[]},{"id":"b74f3aac1f073cdf","type":"tab","label":"Rollladenfunktionen","disabled":false,"info":"","env":[]},{"id":"281b4b3da3a92e49","type":"tab","label":"Statusbenachrichtigung","disabled":false,"info":"","env":[]},{"id":"bf50ba93627b93a9","type":"tab","label":"Notification Alexa","disabled":false,"info":"","env":[]},{"id":"621709dd3ec9efe9","type":"tab","label":"Notification Telegram","disabled":false,"info":"","env":[]},{"id":"af67fdf9a0a48238","type":"tab","label":"Notification TV","disabled":false,"info":"","env":[]},{"id":"34b8b5495f787561","type":"tab","label":"Notification Mobile Devices","disabled":false,"info":"IPhones\nAndroid Phones\nWatch \nTablets","env":[]},{"id":"3418e769d08fa52b","type":"tab","label":"Helfer","disabled":false,"info":"","env":[]},{"id":"2585425a398c551d","type":"tab","label":"Notification Light Switch","disabled":false,"info":"","env":[]},{"id":"af6d683e.b030f8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"30614e38285a0c5c","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.178.75","proxyPort":"3456","cookieFile":"alexa_creds","refreshInterval":"3","alexaServiceHost":"layla.amazon.de","amazonPage":"amazon.de","acceptLanguage":"de-DE","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"6d549bfdfb97ea90","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb.dockerhub.fritz.box","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.178.226:8086","rejectUnauthorized":false},{"id":"52dbe7838a7aaf04","type":"position-config","name":"","isValide":"true","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"3","contextStore":""},{"id":"13423db074af82a3","type":"server-state-changed","z":"e3e543702929b6b1","name":"Hitzeschutz aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.programm_hitzeschutz","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":100,"wires":[["b1079e3f5899e560"],[]]},{"id":"b1079e3f5899e560","type":"link out","z":"e3e543702929b6b1","name":"Schalter Hitzeschutz aktiviert","mode":"link","links":["01054268b80ac2ee","5ea263c1388275eb","9f50214ad020437f","bf38b2a67927d258"],"x":305,"y":100,"wires":[]},{"id":"9fab8b71cc1b4d41","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 1411","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.neq1316177_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":320,"wires":[["92d20d35156cc8df"],["83ab91df72699bab"]]},{"id":"1c1bb40ec766bdcd","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1411","measurement":"1411","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":320,"wires":[]},{"id":"92d20d35156cc8df","type":"change","z":"e3e543702929b6b1","name":"1411 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["1c1bb40ec766bdcd"]]},{"id":"83ab91df72699bab","type":"change","z":"e3e543702929b6b1","name":"1411 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[["fbfe0fc56f4898a6"]]},{"id":"fbfe0fc56f4898a6","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1411","measurement":"1411","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":360,"wires":[]},{"id":"a1e7c90f5513e7ad","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 1241","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.0008dd898f1553","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":440,"wires":[["f198b14d1eec2a98"],["968fe86f562efd4b"]]},{"id":"f198b14d1eec2a98","type":"change","z":"e3e543702929b6b1","name":"1241 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":440,"wires":[["e3ff67f86d4a5583"]]},{"id":"968fe86f562efd4b","type":"change","z":"e3e543702929b6b1","name":"1241 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":480,"wires":[["5ae028147229f9e5"]]},{"id":"e3ff67f86d4a5583","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1241","measurement":"1241","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":440,"wires":[]},{"id":"5ae028147229f9e5","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1241","measurement":"1241","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":480,"wires":[]},{"id":"e6e0893bde63557d","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 1231","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.neq1800641","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":540,"wires":[["348848bd133c8332"],["91e33c9be2a6f537"]]},{"id":"348848bd133c8332","type":"change","z":"e3e543702929b6b1","name":"1231 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":540,"wires":[["fd5a16116a1588fb"]]},{"id":"91e33c9be2a6f537","type":"change","z":"e3e543702929b6b1","name":"1231 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":580,"wires":[["c3a664f23bfa9eba"]]},{"id":"fd5a16116a1588fb","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1231","measurement":"1231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":540,"wires":[]},{"id":"c3a664f23bfa9eba","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1231","measurement":"1231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":580,"wires":[]},{"id":"f4ee5c7d5750e7da","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 1141","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.gastezimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":640,"wires":[["7ce226739419fcfe"],["ea7ac19b65422e74"]]},{"id":"7ce226739419fcfe","type":"change","z":"e3e543702929b6b1","name":"1141 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["c957a89761a919c0"]]},{"id":"ea7ac19b65422e74","type":"change","z":"e3e543702929b6b1","name":"1141 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["af6a2a897145a120"]]},{"id":"c957a89761a919c0","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1141","measurement":"1141","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":640,"wires":[]},{"id":"af6a2a897145a120","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 1141","measurement":"1141","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":680,"wires":[]},{"id":"fcf5d1e51ef495b3","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 6211","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.001a5d899a8286","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":860,"wires":[["bcd2d1f170502151"],["9b1912d6f7a091a4"]]},{"id":"bcd2d1f170502151","type":"change","z":"e3e543702929b6b1","name":"6211 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":860,"wires":[["9b2653c7e9594de8","137ca4ba80b16208"]]},{"id":"9b1912d6f7a091a4","type":"change","z":"e3e543702929b6b1","name":"6211 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":960,"wires":[["1bc1a8c493c63eaf","1879743dfcf53902"]]},{"id":"9b2653c7e9594de8","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 6211","measurement":"6211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":860,"wires":[]},{"id":"1bc1a8c493c63eaf","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 6211","measurement":"6211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":960,"wires":[]},{"id":"137ca4ba80b16208","type":"link out","z":"e3e543702929b6b1","name":"Schalter Abwesenheit aktiviert","mode":"link","links":["bf8f6709cd6661ef"],"x":395,"y":900,"wires":[]},{"id":"1879743dfcf53902","type":"link out","z":"e3e543702929b6b1","name":"Schalter Abwesenheit deaktiviert","mode":"link","links":["512f217d85bae807"],"x":395,"y":1000,"wires":[]},{"id":"9e0ebbfefb52cf50","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 2221","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091be9a62caa_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1280,"wires":[["253b39129e4c04aa"],["4d628c9794988e17"]]},{"id":"253b39129e4c04aa","type":"change","z":"e3e543702929b6b1","name":"2221 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1280,"wires":[["61aa45ac872c303e"]]},{"id":"4d628c9794988e17","type":"change","z":"e3e543702929b6b1","name":"2221 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1320,"wires":[["6fd1db6cae9e736d"]]},{"id":"61aa45ac872c303e","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2221","measurement":"2221","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1280,"wires":[]},{"id":"6fd1db6cae9e736d","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2221","measurement":"2221","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1320,"wires":[]},{"id":"6b9e01f4fc7a8115","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 2231","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091be991086b_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1380,"wires":[["0ade8cacd594262d"],["d8f74cba5eabced5"]]},{"id":"0ade8cacd594262d","type":"change","z":"e3e543702929b6b1","name":"2231 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1380,"wires":[["7b4d0ad4af64171a"]]},{"id":"d8f74cba5eabced5","type":"change","z":"e3e543702929b6b1","name":"2231 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1420,"wires":[["55bb203c2cea13e1"]]},{"id":"7b4d0ad4af64171a","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2231","measurement":"2231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1380,"wires":[]},{"id":"55bb203c2cea13e1","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2231","measurement":"2231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1420,"wires":[]},{"id":"8eafa9807e2e9a4a","type":"comment","z":"e3e543702929b6b1","name":"MOTION","info":"","x":100,"y":1140,"wires":[]},{"id":"da0f7e8014b68a89","type":"server-state-changed","z":"e3e543702929b6b1","name":"MLSC 2211","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1180,"wires":[["e695474f51e86e28"],["16b810f32745e04d"]]},{"id":"e695474f51e86e28","type":"change","z":"e3e543702929b6b1","name":"2211 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1180,"wires":[["06fdc6e0cbcaebaf"]]},{"id":"16b810f32745e04d","type":"change","z":"e3e543702929b6b1","name":"2211 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1220,"wires":[["c2a385ab2205b6b3"]]},{"id":"06fdc6e0cbcaebaf","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2211","measurement":"2211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1180,"wires":[]},{"id":"c2a385ab2205b6b3","type":"influxdb out","z":"e3e543702929b6b1","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2211","measurement":"2211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":480,"y":1220,"wires":[]},{"id":"fa7196b63b858309","type":"server-state-changed","z":"23de75b83743301b","name":"Bewegungsmelder Flur EG","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":200,"wires":[["2cb562faa5068325"],[]]},{"id":"1a1478ecee4da21c","type":"link out","z":"23de75b83743301b","name":"Bewegungsmelder EG","mode":"link","links":["b47ca0d6f618dfc2"],"x":515,"y":200,"wires":[]},{"id":"2cb562faa5068325","type":"change","z":"23de75b83743301b","name":"Auslöser","rules":[{"t":"set","p":"device","pt":"global","to":"Bewegungsmelder Erdgeschoss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["1a1478ecee4da21c"]]},{"id":"8dbf37f52433907d","type":"server-state-changed","z":"23de75b83743301b","name":"Terassentür EG","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00109d89a2331b_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":260,"wires":[["a26915317f27f3cd"],[]]},{"id":"c1019685581e8310","type":"link out","z":"23de75b83743301b","name":"Terassentür","mode":"link","links":["b47ca0d6f618dfc2"],"x":515,"y":260,"wires":[]},{"id":"a26915317f27f3cd","type":"change","z":"23de75b83743301b","name":"Auslöser","rules":[{"t":"set","p":"device","pt":"global","to":"Terassentür","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["c1019685581e8310"]]},{"id":"bd43814defae47cc","type":"server-state-changed","z":"23de75b83743301b","name":"MLSC 2211","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":520,"wires":[["937dcb34dcf0516e"],["905175e0add9645f"]]},{"id":"937dcb34dcf0516e","type":"change","z":"23de75b83743301b","name":"2211 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[["7e3fb1cbda9dea1f"]]},{"id":"905175e0add9645f","type":"change","z":"23de75b83743301b","name":"2211 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":560,"wires":[["a2b57647552ee80b"]]},{"id":"7e3fb1cbda9dea1f","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2211","measurement":"2211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":520,"wires":[]},{"id":"a2b57647552ee80b","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 2211","measurement":"2211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":560,"wires":[]},{"id":"ac1363909dad6e4c","type":"server-state-changed","z":"23de75b83743301b","name":"MLSC 3211","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.00091a499b76bb_illumination","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"-500","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":900,"wires":[["2bb67a4f4d3a824e"],[]]},{"id":"2bb67a4f4d3a824e","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 3211","measurement":"3211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":900,"wires":[]},{"id":"3749e5256e76c3c0","type":"comment","z":"23de75b83743301b","name":"ILLUMINATION","info":"","x":120,"y":860,"wires":[]},{"id":"e29a2bf4cd955219","type":"comment","z":"23de75b83743301b","name":"MOTION","info":"","x":100,"y":480,"wires":[]},{"id":"f55e38cb10f5f368","type":"comment","z":"23de75b83743301b","name":"BATTERY","info":"","x":100,"y":1140,"wires":[]},{"id":"c2a68c979b9fcf48","type":"server-state-changed","z":"23de75b83743301b","name":"MSLC 4211","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_low_bat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":1180,"wires":[["21234ba59564ba9d"],["2caee49eda1cafa0"]]},{"id":"cbe142fc17f888d5","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 4211","measurement":"4211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":1180,"wires":[]},{"id":"9c991e3e66480f61","type":"server-state-changed","z":"23de75b83743301b","name":"MLSC 5221","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.light_0008dd898f1553_brightness","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"-500","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":false,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":1420,"wires":[["972086d0e09efc6f"],[]]},{"id":"972086d0e09efc6f","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 5221","measurement":"5221","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":1420,"wires":[]},{"id":"402c62b89e0637e2","type":"comment","z":"23de75b83743301b","name":"BRIGHTNESS","info":"","x":110,"y":1380,"wires":[]},{"id":"9641db18ddbe303a","type":"server-state-changed","z":"23de75b83743301b","name":"MLSC 5231","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.light_neq1800641_brightness","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":1480,"wires":[["cbd80b9e1e11a24d"],[]]},{"id":"cbd80b9e1e11a24d","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 5231","measurement":"5231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":1480,"wires":[]},{"id":"22750196e6389831","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 4211","measurement":"4211","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":1220,"wires":[]},{"id":"2caee49eda1cafa0","type":"change","z":"23de75b83743301b","name":"4211 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1220,"wires":[["22750196e6389831"]]},{"id":"21234ba59564ba9d","type":"change","z":"23de75b83743301b","name":"4211 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1180,"wires":[["cbe142fc17f888d5"]]},{"id":"1d330fca6e1dea93","type":"api-current-state","z":"23de75b83743301b","name":"MLSC 5231","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.light_neq1800641_brightness","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":1580,"wires":[["ef903a461dfa0c88"],["7aa90e9400fec324"]]},{"id":"ef903a461dfa0c88","type":"influxdb out","z":"23de75b83743301b","influxdb":"6d549bfdfb97ea90","name":"InfluxDB 5231","measurement":"5231","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"homeassistant","x":500,"y":1580,"wires":[]},{"id":"7aa90e9400fec324","type":"change","z":"23de75b83743301b","name":"5231 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1620,"wires":[["ef903a461dfa0c88"]]},{"id":"21a39a4447246ba6","type":"inject","z":"23de75b83743301b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1640,"wires":[["1d330fca6e1dea93"]]},{"id":"ed3bf778ec1666d9","type":"server-state-changed","z":"38a5b352d535ab56","name":"","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.001a5d899a8286_8","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":80,"wires":[["9a20ca8af5b25126"]]},{"id":"ef1fa10743c0973e","type":"server-state-changed","z":"38a5b352d535ab56","name":"","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.001a5d899a8286_12","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":180,"wires":[["d3adb1dcbcf23702"]]},{"id":"9a20ca8af5b25126","type":"debug","z":"38a5b352d535ab56","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":80,"wires":[]},{"id":"d3adb1dcbcf23702","type":"debug","z":"38a5b352d535ab56","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":180,"wires":[]},{"id":"a1b5d72f68d4f09a","type":"server-state-changed","z":"38a5b352d535ab56","name":"EG Hauptschalter","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.001a5d899a8286","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":280,"wires":[["51ffd1d0ee76d063"],["51ffd1d0ee76d063"]]},{"id":"51ffd1d0ee76d063","type":"debug","z":"38a5b352d535ab56","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":280,"wires":[]},{"id":"6d514f678b358fb4","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":80,"wires":[]},{"id":"df65263cd96b8f10","type":"sunrise","z":"5b8335d6953b0c6e","name":"Sonnenaufgang","lat":"48.34159","lon":"10.84989","start":"sunrise","end":"sunset","soff":0,"eoff":0,"x":140,"y":540,"wires":[[],[]]},{"id":"8ed2b859fb5a60fc","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sonnenaufgang","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["37cdaf1f823eb45c"]]},{"id":"37cdaf1f823eb45c","type":"link out","z":"5b8335d6953b0c6e","name":"Sonnenaufgang","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":560,"wires":[]},{"id":"67037914bd1d26f6","type":"sunrise","z":"5b8335d6953b0c6e","name":"Sonnenuntergang","lat":"48.34159","lon":"10.84989","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":150,"y":600,"wires":[[],[]]},{"id":"eafb029d25b80d0b","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sonnenuntergang","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":620,"wires":[["0251f8c5764e1ca2"]]},{"id":"0251f8c5764e1ca2","type":"link out","z":"5b8335d6953b0c6e","name":"Sonnenaufgang","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":620,"wires":[]},{"id":"15b9f1d5234a830e","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne auf Südseite","mode":"link","links":["b5ae14dcd5eed444"],"x":1405,"y":840,"wires":[]},{"id":"ea55cc104e64b5b1","type":"link out","z":"5b8335d6953b0c6e","name":"Keine Sonne auf Südseite","mode":"link","links":["0e6447c9c52d419e"],"x":1405,"y":960,"wires":[]},{"id":"82ecb4393714b16c","type":"inject","z":"5b8335d6953b0c6e","name":"1 min Ticker","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":840,"wires":[["b4882a164c4b1f3b","e789d5d52174139b","a287e2bbfbbea4ac","36a02f1b1e24172a","3f33a92fb4aec60d","4fa45418f04fd634"]]},{"id":"b4882a164c4b1f3b","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth >117","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"117","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":840,"wires":[["fc47f39741364407"],[]]},{"id":"fc47f39741364407","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 279","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"279","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":940,"y":840,"wires":[["4310d82865ce950c"],[]]},{"id":"6358496d53326f01","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sonne auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":80,"wires":[["6d514f678b358fb4"]]},{"id":"a9173a127133a0fa","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":300,"wires":[]},{"id":"96585b9624c3c91c","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne auf Südseite","mode":"link","links":["7d21eab2bf4f56a2"],"x":1405,"y":1240,"wires":[]},{"id":"d5c44e7976872948","type":"link out","z":"5b8335d6953b0c6e","name":"Keine Sonne auf Südseite","mode":"link","links":["35b16d749d05e9d3"],"x":1405,"y":1360,"wires":[]},{"id":"127cab337bbd57a0","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sonne auf Westseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["a9173a127133a0fa"]]},{"id":"289a9a082be99c1b","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Keine Sonne mehr auf Westseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":380,"wires":[["51d99e01c9c5f8fd"]]},{"id":"6d8cce73b7adb96b","type":"change","z":"5b8335d6953b0c6e","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Keine Sonne mehr auf Südseite.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Position Sonne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["7ec26ed561ec3ffb"]]},{"id":"7ec26ed561ec3ffb","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":160,"wires":[]},{"id":"51d99e01c9c5f8fd","type":"link out","z":"5b8335d6953b0c6e","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":765,"y":380,"wires":[]},{"id":"e9ba5bd679f7bcf2","type":"comment","z":"5b8335d6953b0c6e","name":"Position Sonne","info":"","x":100,"y":720,"wires":[]},{"id":"ab6fa74ff02c06b2","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne auf Suedseite","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bol_sonne_auf_sudseite","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":80,"wires":[["fe5d61b6299e1fa7","6358496d53326f01"],[]]},{"id":"ddc0cd549a5e6eb5","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne auf Westseite","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bol_sonne_auf_westseite","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":300,"wires":[["a0b6cf9c681c482f","127cab337bbd57a0"],[]]},{"id":"f135363785ade878","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne nicht mehr auf Suedseite","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bol_sonne_auf_sudseite","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":160,"wires":[["aa274d3ccd5ab64d","6d8cce73b7adb96b"],[]]},{"id":"20fefa8f5caee240","type":"server-state-changed","z":"5b8335d6953b0c6e","name":"Sonne nicht mehr auf Westseite","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bol_sonne_auf_westseite","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":380,"wires":[["818416a7565634bb","289a9a082be99c1b"],[]]},{"id":"fe5d61b6299e1fa7","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne auf Südseite","mode":"link","links":["5ea263c1388275eb"],"x":765,"y":120,"wires":[]},{"id":"a0b6cf9c681c482f","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne auf Westseite","mode":"link","links":["bf38b2a67927d258"],"x":765,"y":340,"wires":[]},{"id":"aa274d3ccd5ab64d","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne nicht mehr auf Südseite","mode":"link","links":["9f50214ad020437f"],"x":765,"y":200,"wires":[]},{"id":"818416a7565634bb","type":"link out","z":"5b8335d6953b0c6e","name":"Sonne nicht mehr auf Westseite","mode":"link","links":["01054268b80ac2ee"],"x":765,"y":420,"wires":[]},{"id":"9872f7ad33c055e0","type":"comment","z":"5b8335d6953b0c6e","name":"Trigger - Sonne auf Südseite","info":"","x":140,"y":40,"wires":[]},{"id":"14a94f334fe7c8df","type":"comment","z":"5b8335d6953b0c6e","name":"Trigger - Sonne auf Westseite","info":"","x":140,"y":260,"wires":[]},{"id":"4310d82865ce950c","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Sonne war noch nicht auf Südseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_sudseite","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":840,"wires":[["15b9f1d5234a830e"],[]]},{"id":"94e03806aeb53f3e","type":"comment","z":"5b8335d6953b0c6e","name":"Helfer - Sonne auf Südseite","info":"","x":760,"y":800,"wires":[]},{"id":"baba7076e708ca81","type":"comment","z":"5b8335d6953b0c6e","name":"Helfer - Sonne nicht mehr auf Südseite","info":"","x":790,"y":920,"wires":[]},{"id":"e789d5d52174139b","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 117","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"117","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":960,"wires":[["7da7659ce9bb4937"],[]]},{"id":"7da7659ce9bb4937","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Sonne war auf Südseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_sudseite","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":960,"wires":[["ea55cc104e64b5b1"],[]]},{"id":"a287e2bbfbbea4ac","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth > 279","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"279","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1020,"wires":[["7da7659ce9bb4937"],[]]},{"id":"2a483071d573971a","type":"comment","z":"5b8335d6953b0c6e","name":"Position Sonne auf Südseite","info":"","x":720,"y":760,"wires":[]},{"id":"554dbbc595bec6da","type":"comment","z":"5b8335d6953b0c6e","name":"Position Sonne auf Westseite","info":"","x":720,"y":1160,"wires":[]},{"id":"36a02f1b1e24172a","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth > 208","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"208","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1240,"wires":[["91c49ebd11f0dded"],[]]},{"id":"91c49ebd11f0dded","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 312","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"312","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":940,"y":1240,"wires":[["663c872fa050f6f5"],[]]},{"id":"b2c2635e439e193b","type":"comment","z":"5b8335d6953b0c6e","name":"Helfer - Sonne auf Westseite","info":"","x":760,"y":1200,"wires":[]},{"id":"663c872fa050f6f5","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Sonne war noch nicht auf Südseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_westseite","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":1240,"wires":[["96585b9624c3c91c"],[]]},{"id":"4ce14878c758a0b9","type":"comment","z":"5b8335d6953b0c6e","name":"Helfer - Sonne nicht mehr auf Westseite","info":"","x":790,"y":1320,"wires":[]},{"id":"3f33a92fb4aec60d","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth < 208","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"208","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1360,"wires":[["7951349488fd5b67"],[]]},{"id":"4fa45418f04fd634","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Azimuth > 312","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"312","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.sun_azimuth","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1420,"wires":[["7951349488fd5b67"],[]]},{"id":"7951349488fd5b67","type":"api-current-state","z":"5b8335d6953b0c6e","name":"Sonne war auf Westseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_westseite","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":1360,"wires":[["d5c44e7976872948"],[]]},{"id":"d5edd3f40d60d383","type":"comment","z":"5b8335d6953b0c6e","name":"Trigger - Sonnenaufgang - Sonnenuntergang","info":"","x":190,"y":500,"wires":[]},{"id":"205b1b4abc1cd231","type":"debug","z":"5b8335d6953b0c6e","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1300,"y":300,"wires":[]},{"id":"04b7927b55b7156a","type":"inject","z":"5b8335d6953b0c6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":960,"y":100,"wires":[["52db0dc5d50e5a6f"]]},{"id":"52db0dc5d50e5a6f","type":"sun-position","z":"5b8335d6953b0c6e","name":"","positionConfig":"52dbe7838a7aaf04","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":1090,"y":180,"wires":[["205b1b4abc1cd231"]]},{"id":"3e05a1eb0d1d827d","type":"server-state-changed","z":"89e0de3974cd4770","name":"MOTION Flur EG","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":120,"wires":[["7f69dae073159143"],["2c887dcec48ff076"]]},{"id":"3b8f262ce4542809","type":"server-state-changed","z":"89e0de3974cd4770","name":"Helligkeitssensor","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.00091be991086b_illumination","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":420,"wires":[[]]},{"id":"707d669172eecfd4","type":"server-state-changed","z":"89e0de3974cd4770","name":"MOTION Küche","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091be991086b_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["5a8554a9ea56f533"],["f5326895a6aff18b"]]},{"id":"95dd1af25f225145","type":"server-state-changed","z":"89e0de3974cd4770","name":"MOTION Wohnzimmer","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091be9a62caa_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":280,"wires":[["dac9eaae47cbb7b2"],["92bdbfdafc4bfe1d"]]},{"id":"5a8554a9ea56f533","type":"link out","z":"89e0de3974cd4770","name":"Motion Küche on","mode":"link","links":["bdcf64cbdaadc695","f3c9358391a9b7f7"],"x":405,"y":200,"wires":[]},{"id":"dac9eaae47cbb7b2","type":"link out","z":"89e0de3974cd4770","name":"Motion Wohnzimmer on","mode":"link","links":["a2311882c94dfe42","d3de24a5e87b1d0c","d9663898d338f79b"],"x":405,"y":280,"wires":[]},{"id":"7f69dae073159143","type":"link out","z":"89e0de3974cd4770","name":"Motion Flur EG on","mode":"link","links":[],"x":405,"y":120,"wires":[]},{"id":"2c887dcec48ff076","type":"link out","z":"89e0de3974cd4770","name":"Motion Flur EG off","mode":"link","links":[],"x":405,"y":160,"wires":[]},{"id":"f5326895a6aff18b","type":"link out","z":"89e0de3974cd4770","name":"Motion Küche off","mode":"link","links":["c75c95900a26f8a4"],"x":405,"y":240,"wires":[]},{"id":"92bdbfdafc4bfe1d","type":"link out","z":"89e0de3974cd4770","name":"Motion Wohnzimmer off","mode":"link","links":[],"x":405,"y":320,"wires":[]},{"id":"a83e93fc8b7ee928","type":"server-state-changed","z":"791b769089120f19","name":"ILLUMINATION Flur EG","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.00091a499b76bb_illumination","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":40,"wires":[[],[]]},{"id":"d79eb11407a5c566","type":"server-state-changed","z":"791b769089120f19","name":"ILLUMINATION Küche","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.00091be991086b_illumination","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":120,"wires":[[],[]]},{"id":"c6030bdcb0f7ad68","type":"server-state-changed","z":"791b769089120f19","name":"ILLUMINATION Wohnzimmer","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.00091be9a62caa_illumination","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":200,"wires":[[],[]]},{"id":"0b1373958a9f3476","type":"server-state-changed","z":"693a10d59478c8d6","name":"LOWBAT Termostat Küche","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.req1161407_lowbat","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":60,"wires":[["8ee5885f2fb0f93a"],[]]},{"id":"1fade169f9d9266d","type":"link out","z":"693a10d59478c8d6","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":635,"y":60,"wires":[]},{"id":"8ee5885f2fb0f93a","type":"change","z":"693a10d59478c8d6","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bitte Batterie wechseln - Termostat Küche - AA","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Niedrige Batterie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["1fade169f9d9266d"]]},{"id":"c353c4263f92fb6a","type":"inject","z":"aacfe99f39813c33","name":"07:30 - Rollläden öffnen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["10932242551c10ac"]]},{"id":"10932242551c10ac","type":"api-current-state","z":"aacfe99f39813c33","name":"Alarm armed away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":200,"wires":[["b64d6be53671edb0"],[]]},{"id":"b64d6be53671edb0","type":"link out","z":"aacfe99f39813c33","name":"Trigger - Rollläden öffnen","mode":"link","links":["115f24617e87c7df"],"x":595,"y":200,"wires":[]},{"id":"848bef9952dd7286","type":"inject","z":"aacfe99f39813c33","name":"21:00 - Rollläden schliessen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":280,"wires":[["593970e8a7457485"]]},{"id":"593970e8a7457485","type":"api-current-state","z":"aacfe99f39813c33","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":280,"wires":[["c1334b0ae284f04f"],[]]},{"id":"c1334b0ae284f04f","type":"link out","z":"aacfe99f39813c33","name":"Trigger - Rollläden schliessen","mode":"link","links":["75e562d514cc50a1"],"x":595,"y":280,"wires":[]},{"id":"862f9e8499821af4","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Andreas","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":140,"wires":[["abafa5c4dcb3561a"],[]]},{"id":"91d0fbd0f4d21301","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Carolin","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.puppis_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":200,"wires":[["90cc7b335111682c"],[]]},{"id":"424560ed2e3b1ccd","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Sebastian","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.sebastians_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":260,"wires":[["8bf028a510ef3851"],[]]},{"id":"50d780fa6aede105","type":"server-state-changed","z":"3751dacde1ce381e","name":"Anwesenheit - Christina","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.christinas_ipod_touch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":320,"wires":[["a3fddab1a39bc4b2"],[]]},{"id":"abafa5c4dcb3561a","type":"influxdb out","z":"3751dacde1ce381e","influxdb":"6d549bfdfb97ea90","name":"InfluxDB","measurement":"anwesenheit.andreas","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":420,"y":140,"wires":[]},{"id":"90cc7b335111682c","type":"influxdb out","z":"3751dacde1ce381e","influxdb":"6d549bfdfb97ea90","name":"InfluxDB","measurement":"anwesenheit.carolin","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"nodered","x":420,"y":200,"wires":[]},{"id":"a3fddab1a39bc4b2","type":"influxdb out","z":"3751dacde1ce381e","influxdb":"6d549bfdfb97ea90","name":"InfluxDB","measurement":"anwesenheit.christina","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"nodered","x":420,"y":320,"wires":[]},{"id":"8bf028a510ef3851","type":"influxdb out","z":"3751dacde1ce381e","influxdb":"6d549bfdfb97ea90","name":"InfluxDB","measurement":"anwesenheit.sebastian","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"714.haus","bucket":"nodered","x":420,"y":260,"wires":[]},{"id":"a4f8e9e177858ce6","type":"comment","z":"7936ce38353db016","name":"Hitzeschutz Südseite","info":"","x":200,"y":120,"wires":[]},{"id":"5ea263c1388275eb","type":"link in","z":"7936ce38353db016","name":"Hitzeschutz Südseite ein","links":["fe5d61b6299e1fa7","b1079e3f5899e560"],"x":345,"y":160,"wires":[["c7452fa5a6fc5956"]]},{"id":"c7452fa5a6fc5956","type":"api-current-state","z":"7936ce38353db016","name":"Programm \"Hitzeschutz\" eingeschaltet","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.programm_hitzeschutz","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":160,"wires":[["3cf30492a021099c"],[]]},{"id":"9b187f7580eb3ea0","type":"link out","z":"7936ce38353db016","name":"Rollläden","mode":"link","links":["22729c3462d2614a","3d7a92af6017d097"],"x":1115,"y":160,"wires":[]},{"id":"58e5b7933c34ad16","type":"comment","z":"7936ce38353db016","name":"Hitzeschutz Westseite","info":"","x":200,"y":280,"wires":[]},{"id":"bf38b2a67927d258","type":"link in","z":"7936ce38353db016","name":"Hitzeschutz Westseite ein","links":["a0b6cf9c681c482f","b1079e3f5899e560"],"x":345,"y":340,"wires":[["7b1cb5e49aa59475"]]},{"id":"7b1cb5e49aa59475","type":"api-current-state","z":"7936ce38353db016","name":"Programm \"Hitzeschutz\" eingeschaltet","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.programm_hitzeschutz","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":340,"wires":[["aebf34207dbe8e86"],[]]},{"id":"925f2ce58057cd81","type":"link out","z":"7936ce38353db016","name":"Hitzeschutz Rollläden Westseite","mode":"link","links":["0cce02e45f753cc9","707e3f5d3e048138"],"x":1115,"y":340,"wires":[]},{"id":"9f50214ad020437f","type":"link in","z":"7936ce38353db016","name":"Hitzeschutz Südseite aus","links":["aa274d3ccd5ab64d","b1079e3f5899e560"],"x":345,"y":220,"wires":[[]]},{"id":"0a108efeb60f3da0","type":"api-current-state","z":"7936ce38353db016","name":"Programm \"Hitzeschutz\" eingeschaltet","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.programm_hitzeschutz","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":220,"wires":[["3f528a796d5fd121"],[]]},{"id":"ae63178d1446aca0","type":"link out","z":"7936ce38353db016","name":"Rollläden","mode":"link","links":["144fe1e7b743db08","8f4c8b5fb5080b9e","9ac68325dc36c029"],"x":1115,"y":220,"wires":[]},{"id":"1fff0f25cecfc193","type":"api-current-state","z":"7936ce38353db016","name":"Programm \"Hitzeschutz\" eingeschaltet","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.programm_hitzeschutz","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":400,"wires":[["2bd68cfb04d99d8f"],[]]},{"id":"01054268b80ac2ee","type":"link in","z":"7936ce38353db016","name":"Hitzeschutz Westseite aus","links":["818416a7565634bb","b1079e3f5899e560"],"x":345,"y":400,"wires":[[]]},{"id":"98ab251705c3301c","type":"link out","z":"7936ce38353db016","name":"Rolläden","mode":"link","links":["441e33a656f2b958","d5acbb999dcd7139","31bf5846330eb59e"],"x":1115,"y":400,"wires":[]},{"id":"3cf30492a021099c","type":"api-current-state","z":"7936ce38353db016","name":"Sonne auf Südseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_sudseite","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":160,"wires":[["9b187f7580eb3ea0"],[]]},{"id":"3f528a796d5fd121","type":"api-current-state","z":"7936ce38353db016","name":"Keine Sonne mehr auf Südseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_sudseite","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":220,"wires":[["ae63178d1446aca0"],[]]},{"id":"aebf34207dbe8e86","type":"api-current-state","z":"7936ce38353db016","name":"Sonne auf Westseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_westseite","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":340,"wires":[["925f2ce58057cd81"],[]]},{"id":"2bd68cfb04d99d8f","type":"api-current-state","z":"7936ce38353db016","name":"Keine Sonne mehr auf Westseite","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bol_sonne_auf_westseite","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":400,"wires":[["98ab251705c3301c"],[]]},{"id":"4fbeef0b941215b9","type":"comment","z":"7936ce38353db016","name":"Abwesenheit","info":"","x":170,"y":520,"wires":[]},{"id":"bf8f6709cd6661ef","type":"link in","z":"7936ce38353db016","name":"Alarmfunktion aktiviert","links":["137ca4ba80b16208"],"x":345,"y":580,"wires":[["43ae8a3a8ef6b5b2"]]},{"id":"512f217d85bae807","type":"link in","z":"7936ce38353db016","name":"Alarmfunktion deaktiviert","links":["1879743dfcf53902"],"x":345,"y":640,"wires":[["e648e48da2d49395"]]},{"id":"43ae8a3a8ef6b5b2","type":"api-call-service","z":"7936ce38353db016","name":"ALARM_ARMED_AWAY","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"4161\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":580,"wires":[[]]},{"id":"e648e48da2d49395","type":"api-call-service","z":"7936ce38353db016","name":"ALARM_DISARM","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.home_alarm"],"data":"{\"code\":\"4161\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":640,"wires":[[]]},{"id":"c30c6b91f044bec5","type":"comment","z":"7936ce38353db016","name":"Hausprogramme - AT HOME","info":"Hier beschriebene Hausprogramme nur bei Anwesenheit","x":140,"y":40,"wires":[]},{"id":"c8f99431310796d6","type":"comment","z":"7936ce38353db016","name":"Rollladen hoch EG - Morgens - bei Bewegung","info":"","x":190,"y":840,"wires":[]},{"id":"d9663898d338f79b","type":"link in","z":"7936ce38353db016","name":"Motion Wohnzimmer","links":["dac9eaae47cbb7b2"],"x":275,"y":900,"wires":[["8ae0a7b58f556017"]]},{"id":"f3c9358391a9b7f7","type":"link in","z":"7936ce38353db016","name":"Motion Küche","links":["5a8554a9ea56f533"],"x":275,"y":940,"wires":[["8ae0a7b58f556017"]]},{"id":"900e0fafb62890d5","type":"link out","z":"7936ce38353db016","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907","a8c8de53a29f7fd0"],"x":1385,"y":940,"wires":[]},{"id":"1e085ea2b18e7866","type":"change","z":"7936ce38353db016","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegung in Wohnbereich - Rollladen hoch","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Hausprogramme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":940,"wires":[["900e0fafb62890d5"]]},{"id":"8ae0a7b58f556017","type":"api-current-state","z":"7936ce38353db016","name":"Daytime - true","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.bin_daytime","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":940,"wires":[["e260b29c66314f07"],[]]},{"id":"612177f3343d91c8","type":"switch","z":"7936ce38353db016","name":"STATE HORIZON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1120,"wires":[["2a20d2000f7065f0"],[]]},{"id":"73142de15d620667","type":"api-current-state","z":"7936ce38353db016","name":"Zustand ALARM","server":"af6d683e.b030f8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":460,"wires":[["0cc35aee4ebea605"]]},{"id":"3ccb1ef97939a4ad","type":"link in","z":"7936ce38353db016","name":"Zustand Alarm","links":[],"x":995,"y":460,"wires":[["73142de15d620667"]]},{"id":"0cc35aee4ebea605","type":"link out","z":"7936ce38353db016","name":"Link Back","mode":"return","links":[],"x":1255,"y":460,"wires":[]},{"id":"526eb4142f710dc2","type":"api-current-state","z":"7936ce38353db016","name":"Zustand SUN","server":"af6d683e.b030f8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":520,"wires":[["28c97403bbc648e5"]]},{"id":"473028e4cfc5bf7b","type":"link in","z":"7936ce38353db016","name":"Zustand SUN","links":[],"x":995,"y":520,"wires":[["526eb4142f710dc2"]]},{"id":"28c97403bbc648e5","type":"link out","z":"7936ce38353db016","name":"Link Back","mode":"return","links":[],"x":1255,"y":520,"wires":[]},{"id":"12c0d192674bbc9c","type":"link call","z":"7936ce38353db016","name":"Link Zustand SUN","links":["473028e4cfc5bf7b"],"linkType":"static","timeout":"10","x":650,"y":1060,"wires":[["612177f3343d91c8"]]},{"id":"5a28a9a2c6416511","type":"inject","z":"7936ce38353db016","name":"INJECT MOTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1000,"wires":[["8ae0a7b58f556017"]]},{"id":"2a20d2000f7065f0","type":"link call","z":"7936ce38353db016","name":"Link Zustand ALARM","links":["3ccb1ef97939a4ad"],"linkType":"static","timeout":"10","x":660,"y":1180,"wires":[["92832bdfd0e9ec45"]]},{"id":"92832bdfd0e9ec45","type":"switch","z":"7936ce38353db016","name":"STATE ALARM","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":640,"y":1240,"wires":[["1e085ea2b18e7866"],[]]},{"id":"41a4cbcfc67c3cb5","type":"api-current-state","z":"7936ce38353db016","name":"Zustand MORING ROLL EXECUTED","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.bol_morning_livingroom_roll_open_executed","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":700,"wires":[["7999a7dc23252735"],["fa360c6ff5e8adad"]]},{"id":"fa557d908035d576","type":"link in","z":"7936ce38353db016","name":"Zustand MORING ROLL EXECUTED","links":[],"x":735,"y":700,"wires":[["41a4cbcfc67c3cb5"]]},{"id":"fa360c6ff5e8adad","type":"link out","z":"7936ce38353db016","name":"Link Back","mode":"return","links":[],"x":1435,"y":700,"wires":[]},{"id":"e260b29c66314f07","type":"link call","z":"7936ce38353db016","name":"Link Zustand MORING ROLL EXECUTED","links":["fa557d908035d576"],"linkType":"static","timeout":"2","x":720,"y":940,"wires":[["d55eefea0df76c40"]]},{"id":"7999a7dc23252735","type":"api-call-service","z":"7936ce38353db016","name":"MORING ROLL EXECUTED True","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_morning_livingroom_roll_open_executed"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":660,"wires":[["fa360c6ff5e8adad"]]},{"id":"d55eefea0df76c40","type":"switch","z":"7936ce38353db016","name":"STATE MORING ROLL EXECUTED","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":1000,"wires":[["12c0d192674bbc9c"],[]]},{"id":"df394cfce623d012","type":"comment","z":"7936ce38353db016","name":"Licht gedimmt EG - Nachts - bei Bewegung","info":"","x":190,"y":1320,"wires":[]},{"id":"a2311882c94dfe42","type":"link in","z":"7936ce38353db016","name":"Motion Wohnzimmer","links":["dac9eaae47cbb7b2"],"x":275,"y":1380,"wires":[["50a3b5d519a66b0e"]]},{"id":"bdcf64cbdaadc695","type":"link in","z":"7936ce38353db016","name":"Motion Küche","links":["5a8554a9ea56f533"],"x":275,"y":1420,"wires":[["50a3b5d519a66b0e"]]},{"id":"0cd4c40b727b9c7b","type":"link out","z":"7936ce38353db016","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":1385,"y":1420,"wires":[]},{"id":"2a19dfa35387ace3","type":"change","z":"7936ce38353db016","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegung in Wohnbereich - Nachtlicht einschalten","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Hausprogramme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1420,"wires":[["0cd4c40b727b9c7b"]]},{"id":"5382f8038233c41e","type":"inject","z":"7936ce38353db016","name":"INJECT MOTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1480,"wires":[["85bbeb47f19a5b43"]]},{"id":"85bbeb47f19a5b43","type":"link call","z":"7936ce38353db016","name":"Link Zustand ALARM","links":["3ccb1ef97939a4ad"],"linkType":"static","timeout":"10","x":660,"y":1420,"wires":[["939ad7fe13e64253"]]},{"id":"939ad7fe13e64253","type":"switch","z":"7936ce38353db016","name":"STATE ALARM","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1480,"wires":[["2a19dfa35387ace3","c4ce4b96f93651e4"]]},{"id":"0fb5449edeabc0a4","type":"stoptimer","z":"7936ce38353db016","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"Stoptimer","x":1200,"y":1620,"wires":[["9fd2d6dc9eef6ee0"],[]]},{"id":"f1781667a9b8db67","type":"link call","z":"7936ce38353db016","name":"Link Zustand ALARM","links":["3ccb1ef97939a4ad"],"linkType":"static","timeout":"10","x":640,"y":1580,"wires":[["e06c853c2b30b5fe"]]},{"id":"e06c853c2b30b5fe","type":"switch","z":"7936ce38353db016","name":"STATE ALARM","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1640,"wires":[["0fb5449edeabc0a4"]]},{"id":"c75c95900a26f8a4","type":"link in","z":"7936ce38353db016","name":"Motion Küche","links":["f5326895a6aff18b"],"x":285,"y":1540,"wires":[["3774eb0162756d86"]]},{"id":"d3de24a5e87b1d0c","type":"link in","z":"7936ce38353db016","name":"Motion Küche","links":["dac9eaae47cbb7b2"],"x":285,"y":1580,"wires":[["3774eb0162756d86"]]},{"id":"9fd2d6dc9eef6ee0","type":"change","z":"7936ce38353db016","name":"Message Telegram","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegung in Wohnbereich - Nachtlicht ausschalten","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Hausprogramme","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1620,"wires":[["4baaa5c61be60d44"]]},{"id":"4baaa5c61be60d44","type":"link out","z":"7936ce38353db016","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":1535,"y":1620,"wires":[]},{"id":"c4ce4b96f93651e4","type":"change","z":"7936ce38353db016","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1560,"wires":[["0fb5449edeabc0a4"]]},{"id":"30381437ada1d417","type":"inject","z":"7936ce38353db016","name":"INJECT MOTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1660,"wires":[["f1781667a9b8db67"]]},{"id":"50a3b5d519a66b0e","type":"api-current-state","z":"7936ce38353db016","name":"Nighttime - true","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"schedule.timer_nighttime","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":1380,"wires":[["85bbeb47f19a5b43"],[]]},{"id":"3774eb0162756d86","type":"api-current-state","z":"7936ce38353db016","name":"Nighttime - true","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"schedule.timer_nighttime","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":1540,"wires":[["f1781667a9b8db67"],[]]},{"id":"0a7022ea73052e5b","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":2440,"wires":[[]]},{"id":"6e898a4aaa227b03","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2500,"wires":[[]]},{"id":"9360a2fc8ce55af5","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2560,"wires":[[]]},{"id":"6fb6614b88cde53e","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1860,"wires":[[]]},{"id":"1ea05863cd0d08ea","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Schlafzimmer hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":2620,"wires":[[]]},{"id":"e66906b62eacc05d","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2860,"wires":[[]]},{"id":"138c6234617738b7","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":2820,"wires":[["54aa659192db2869"]]},{"id":"4213579e2f593c98","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":2820,"wires":[["138c6234617738b7"]]},{"id":"54aa659192db2869","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":2820,"wires":[[]]},{"id":"c255c019f42e1551","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":540,"wires":[["ca9ab0cbd4edf691"]]},{"id":"97573b50f3b8915d","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":420,"wires":[["1a76c0bd637c9ffd"]]},{"id":"78e8636f5d8f33ca","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":480,"wires":[["3e16c307a36812b6"]]},{"id":"eb4345d5da310124","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":600,"wires":[["83d9ad90dfd44d36"]]},{"id":"ce7130d83a8e1a51","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":660,"wires":[["5a13b11dd302db42"]]},{"id":"bae8b519c34e14ce","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"105","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":720,"wires":[["74244288e8134528"]]},{"id":"d50f0d4aa612fdbd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":900,"wires":[["52a1c7856f736544"]]},{"id":"6c0fee4cc7032681","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":780,"wires":[["0fc48d4868f12b8c"]]},{"id":"f4be1668a9d395fd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":840,"wires":[["fa8e3132acf8bfde"]]},{"id":"99c3b4ad7039ec1b","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":960,"wires":[["de806d10d31589b5"]]},{"id":"7d5ffd51b6c43bca","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1020,"wires":[["55fbdaa9d1682ccf"]]},{"id":"d621f9fcf723f8c0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"105","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1080,"wires":[["c44586cc46a238f8"]]},{"id":"6435d11a46534431","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"90\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":120,"wires":[["b9d270ca7c0c02bc"]]},{"id":"041a975cfe86e757","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine verzögert schliessen","links":["ac9b6dd8e743d0c8"],"x":495,"y":120,"wires":[["6435d11a46534431"]]},{"id":"115f24617e87c7df","type":"link in","z":"b74f3aac1f073cdf","name":"Alle öffnen","links":["b64d6be53671edb0"],"x":495,"y":420,"wires":[["97573b50f3b8915d","78e8636f5d8f33ca","c255c019f42e1551","eb4345d5da310124","ce7130d83a8e1a51","bae8b519c34e14ce"]]},{"id":"75e562d514cc50a1","type":"link in","z":"b74f3aac1f073cdf","name":"Alle schliessen","links":["c1334b0ae284f04f"],"x":495,"y":780,"wires":[["6c0fee4cc7032681","f4be1668a9d395fd","d50f0d4aa612fdbd","99c3b4ad7039ec1b","7d5ffd51b6c43bca","d621f9fcf723f8c0"]]},{"id":"6b48b232ddc212d4","type":"link in","z":"b74f3aac1f073cdf","name":"Terrassentür schliessen","links":[],"x":495,"y":1860,"wires":[["6fb6614b88cde53e"]]},{"id":"b9d270ca7c0c02bc","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":120,"wires":[["2672ef0add13daf7"]]},{"id":"a780396aa0f1dcb6","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":180,"wires":[["6bfc6f8492c2cae4"]]},{"id":"33694eab7b3fca3a","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":240,"wires":[[]]},{"id":"5d3137ba15a74ec0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":240,"wires":[["a6a04f8f0c5a1bcb"]]},{"id":"2672ef0add13daf7","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"80\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":180,"wires":[["a780396aa0f1dcb6"]]},{"id":"6bfc6f8492c2cae4","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"70\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":240,"wires":[["5d3137ba15a74ec0"]]},{"id":"61f93093495d2fa3","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":360,"wires":[[]]},{"id":"29c71802b70ea002","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":300,"wires":[["61f93093495d2fa3"]]},{"id":"a6a04f8f0c5a1bcb","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\t    \"position\": \"60\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":300,"wires":[["29c71802b70ea002"]]},{"id":"db84f9556417e516","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":2320,"wires":[[]]},{"id":"a29d67a9ac1bf896","type":"link in","z":"b74f3aac1f073cdf","name":"Terrassentür öffnen","links":["957cf01caf12fd92"],"x":495,"y":2320,"wires":[["db84f9556417e516"]]},{"id":"14fb245957441763","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1920,"wires":[[]]},{"id":"f2a34612ef833f4b","type":"link in","z":"b74f3aac1f073cdf","name":"Terrasse schliessen","links":["0fc48d4868f12b8c","fbd38c733498ba43"],"x":495,"y":1920,"wires":[["14fb245957441763"]]},{"id":"0fc48d4868f12b8c","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse runter","mode":"link","links":["f2a34612ef833f4b"],"x":1015,"y":780,"wires":[]},{"id":"ab881d2303991cce","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":1980,"wires":[[]]},{"id":"0b1ef0a157921b3e","type":"link in","z":"b74f3aac1f073cdf","name":"Küche schliessen","links":["fa8e3132acf8bfde","7fcb24ff19c9104a"],"x":495,"y":1980,"wires":[["ab881d2303991cce"]]},{"id":"fa8e3132acf8bfde","type":"link out","z":"b74f3aac1f073cdf","name":"Küche runter","mode":"link","links":["0b1ef0a157921b3e"],"x":1015,"y":840,"wires":[]},{"id":"69813c10456ca67c","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2040,"wires":[[]]},{"id":"2488236d46b1a244","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte schliessen","links":["52a1c7856f736544","5c72fbf643581310","2f0bab2aeed4326c"],"x":495,"y":2040,"wires":[["69813c10456ca67c"]]},{"id":"52a1c7856f736544","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte runter","mode":"link","links":["2488236d46b1a244"],"x":1015,"y":900,"wires":[]},{"id":"5c78770b9126e7c1","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2100,"wires":[[]]},{"id":"aa8a26620245ab6a","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine schliessen","links":["55fbdaa9d1682ccf","d25cc09b94e77ede"],"x":495,"y":2100,"wires":[["5c78770b9126e7c1"]]},{"id":"55fbdaa9d1682ccf","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine runter","mode":"link","links":["aa8a26620245ab6a"],"x":1015,"y":1020,"wires":[]},{"id":"be963c689846da37","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Schlafzimmer runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2160,"wires":[[]]},{"id":"c44586cc46a238f8","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer runter","mode":"link","links":["1baa7687cda463ca"],"x":1015,"y":1080,"wires":[]},{"id":"1baa7687cda463ca","type":"link in","z":"b74f3aac1f073cdf","name":"Schlafzimmer schliessen","links":["c44586cc46a238f8","81aede5d5f0af09a","7e9e06668a9e6120"],"x":495,"y":2160,"wires":[["be963c689846da37"]]},{"id":"a8147e1be87980f3","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":2220,"wires":[["1c16c72d8311b82c"]]},{"id":"9c7716a5c16e7280","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2260,"wires":[[]]},{"id":"f80969b50b92338d","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":2220,"wires":[["a8147e1be87980f3"]]},{"id":"1c16c72d8311b82c","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2220,"wires":[[]]},{"id":"ce3e44bf36a89533","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Dach schliessen","links":["de806d10d31589b5","983f23214fad0289"],"x":495,"y":2220,"wires":[["f80969b50b92338d","9c7716a5c16e7280"]]},{"id":"de806d10d31589b5","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach runter","mode":"link","links":["ce3e44bf36a89533"],"x":1015,"y":960,"wires":[]},{"id":"4c188568e80750ac","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2380,"wires":[[]]},{"id":"794ee361666f1bb5","type":"link in","z":"b74f3aac1f073cdf","name":"Terrasse öffnen","links":["1a76c0bd637c9ffd","3b9381881ba70920","e19ff874480bd13d"],"x":495,"y":2380,"wires":[["4c188568e80750ac"]]},{"id":"1a76c0bd637c9ffd","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse hoch","mode":"link","links":["794ee361666f1bb5"],"x":1015,"y":420,"wires":[]},{"id":"b1ab417e0fbc5739","type":"link in","z":"b74f3aac1f073cdf","name":"Küche öffnen","links":["3e16c307a36812b6","01978d133b688df3","b02c1ab87f5a1d10"],"x":495,"y":2440,"wires":[["0a7022ea73052e5b"]]},{"id":"3e16c307a36812b6","type":"link out","z":"b74f3aac1f073cdf","name":"Küche hoch","mode":"link","links":["b1ab417e0fbc5739"],"x":1015,"y":480,"wires":[]},{"id":"441e33a656f2b958","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte öffnen","links":["ca9ab0cbd4edf691","4d5481527d059d1d","29198c10a42ae104","98ab251705c3301c"],"x":495,"y":2500,"wires":[["6e898a4aaa227b03"]]},{"id":"ca9ab0cbd4edf691","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["441e33a656f2b958"],"x":1015,"y":540,"wires":[]},{"id":"d5acbb999dcd7139","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine öffnen","links":["5a13b11dd302db42","e7c2897ec280e549","98ab251705c3301c"],"x":495,"y":2560,"wires":[["9360a2fc8ce55af5"]]},{"id":"144fe1e7b743db08","type":"link in","z":"b74f3aac1f073cdf","name":"Schlafzimmer öffnen","links":["74244288e8134528","7182a763767dfe8a","ae63178d1446aca0"],"x":495,"y":2620,"wires":[["1ea05863cd0d08ea"]]},{"id":"8f4c8b5fb5080b9e","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Dach öffnen","links":["83d9ad90dfd44d36","b15359bdbd223cde","ae63178d1446aca0"],"x":495,"y":2820,"wires":[["4213579e2f593c98","e66906b62eacc05d"]]},{"id":"83d9ad90dfd44d36","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach hoch","mode":"link","links":["8f4c8b5fb5080b9e"],"x":1015,"y":600,"wires":[]},{"id":"5a13b11dd302db42","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["d5acbb999dcd7139"],"x":1015,"y":660,"wires":[]},{"id":"74244288e8134528","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer hoch","mode":"link","links":["144fe1e7b743db08"],"x":1015,"y":720,"wires":[]},{"id":"1b9ee93d211be3ba","type":"link in","z":"b74f3aac1f073cdf","name":"Südseite schliessen","links":["9ee46b63337542fe","32f81edea8f52bb8"],"x":495,"y":1140,"wires":[["60dac0fd11b5d807","b4588553b991fb34","bfabb5c4fec4b64e"]]},{"id":"60dac0fd11b5d807","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1140,"wires":[["fbd38c733498ba43"]]},{"id":"b4588553b991fb34","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1200,"wires":[["983f23214fad0289"]]},{"id":"bfabb5c4fec4b64e","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1260,"wires":[["81aede5d5f0af09a"]]},{"id":"fbd38c733498ba43","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse runter","mode":"link","links":["f2a34612ef833f4b"],"x":1015,"y":1140,"wires":[]},{"id":"983f23214fad0289","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach runter","mode":"link","links":["ce3e44bf36a89533"],"x":1015,"y":1200,"wires":[]},{"id":"81aede5d5f0af09a","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer runter","mode":"link","links":["1baa7687cda463ca"],"x":1015,"y":1260,"wires":[]},{"id":"655e4f87b9cc8e16","type":"link in","z":"b74f3aac1f073cdf","name":"Südseite öffnen","links":["32f81edea8f52bb8","61b2c65a38819e4a"],"x":495,"y":1320,"wires":[["c59a271af1300dd7","453dce903fd69eee","c8ed3dcb93397cdd"]]},{"id":"c59a271af1300dd7","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1320,"wires":[["3b9381881ba70920"]]},{"id":"453dce903fd69eee","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1380,"wires":[["b15359bdbd223cde"]]},{"id":"c8ed3dcb93397cdd","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1440,"wires":[["7182a763767dfe8a"]]},{"id":"3b9381881ba70920","type":"link out","z":"b74f3aac1f073cdf","name":"Terrasse hoch","mode":"link","links":["794ee361666f1bb5"],"x":1015,"y":1320,"wires":[]},{"id":"b15359bdbd223cde","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte Dach hoch","mode":"link","links":["8f4c8b5fb5080b9e"],"x":1015,"y":1380,"wires":[]},{"id":"7182a763767dfe8a","type":"link out","z":"b74f3aac1f073cdf","name":"Schlafzimmer hoch","mode":"link","links":["144fe1e7b743db08","9ac68325dc36c029"],"x":1015,"y":1440,"wires":[]},{"id":"c11cbac25b93e031","type":"link in","z":"b74f3aac1f073cdf","name":"Westseite schliessen","links":["32f81edea8f52bb8","9ee46b63337542fe","dd242ff36c2377a3"],"x":495,"y":1500,"wires":[["8b708aa6d932a0ae","327ae29ad1688ca3","a90d6243cf417ca6"]]},{"id":"8b708aa6d932a0ae","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1500,"wires":[["7fcb24ff19c9104a"]]},{"id":"327ae29ad1688ca3","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1560,"wires":[["2f0bab2aeed4326c"]]},{"id":"a90d6243cf417ca6","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1620,"wires":[["d25cc09b94e77ede"]]},{"id":"7fcb24ff19c9104a","type":"link out","z":"b74f3aac1f073cdf","name":"Küche runter","mode":"link","links":["0b1ef0a157921b3e"],"x":1015,"y":1500,"wires":[]},{"id":"2f0bab2aeed4326c","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte runter","mode":"link","links":["2488236d46b1a244"],"x":1015,"y":1560,"wires":[]},{"id":"d25cc09b94e77ede","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine runter","mode":"link","links":["aa8a26620245ab6a"],"x":1015,"y":1620,"wires":[]},{"id":"32059a946226a260","type":"link in","z":"b74f3aac1f073cdf","name":"Westseite öffnen","links":["32f81edea8f52bb8","9ee46b63337542fe","801b4cf6f5e469fd"],"x":495,"y":1680,"wires":[["78fb9b581ed4d7d0","89cbe247d01d54fa","81a4d60cb35bdd3c"]]},{"id":"78fb9b581ed4d7d0","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1680,"wires":[["01978d133b688df3"]]},{"id":"89cbe247d01d54fa","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1740,"wires":[["29198c10a42ae104"]]},{"id":"81a4d60cb35bdd3c","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1800,"wires":[["e7c2897ec280e549"]]},{"id":"01978d133b688df3","type":"link out","z":"b74f3aac1f073cdf","name":"Küche hoch","mode":"link","links":["b1ab417e0fbc5739"],"x":1015,"y":1680,"wires":[]},{"id":"29198c10a42ae104","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["441e33a656f2b958"],"x":1015,"y":1740,"wires":[]},{"id":"e7c2897ec280e549","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["d5acbb999dcd7139","31bf5846330eb59e"],"x":1015,"y":1800,"wires":[]},{"id":"2301ce08d1819c2e","type":"comment","z":"b74f3aac1f073cdf","name":"Alle öffnen","info":"","x":260,"y":420,"wires":[]},{"id":"9ffcd9f33604388e","type":"comment","z":"b74f3aac1f073cdf","name":"Alle schliessen","info":"","x":280,"y":780,"wires":[]},{"id":"817513f70d891461","type":"comment","z":"b74f3aac1f073cdf","name":"Südseite schliessen","info":"","x":290,"y":1140,"wires":[]},{"id":"0c1d259c211b2a82","type":"comment","z":"b74f3aac1f073cdf","name":"Südseite öffnen","info":"","x":280,"y":1320,"wires":[]},{"id":"472eb327ba673e29","type":"comment","z":"b74f3aac1f073cdf","name":"Westseite schliessen","info":"","x":290,"y":1500,"wires":[]},{"id":"2d25c085c1e17aab","type":"comment","z":"b74f3aac1f073cdf","name":"Westseite öffnen","info":"","x":280,"y":1680,"wires":[]},{"id":"767b3e604fb46970","type":"comment","z":"b74f3aac1f073cdf","name":"Josefine verzögert schliessen","info":"","x":320,"y":120,"wires":[]},{"id":"960f3aa90055e5ac","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":2920,"wires":[[]]},{"id":"e28dbc58b60b424a","type":"link in","z":"b74f3aac1f073cdf","name":"Terrassentür Hitzeschutz","links":[],"x":495,"y":2920,"wires":[["960f3aa90055e5ac"]]},{"id":"49ebd3b7fd4920e3","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":2980,"wires":[[]]},{"id":"8e2e9bd876af6d7c","type":"link in","z":"b74f3aac1f073cdf","name":"Terrasse Hitzeschutz","links":[],"x":495,"y":2980,"wires":[["49ebd3b7fd4920e3"]]},{"id":"71ab89e0077e3080","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":3040,"wires":[[]]},{"id":"0a60e374218d9c6e","type":"link in","z":"b74f3aac1f073cdf","name":"Küche Hitzeschutz","links":[],"x":495,"y":3040,"wires":[["71ab89e0077e3080"]]},{"id":"b2c2c5dd0774a072","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"{\"position\":\"10\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":3100,"wires":[[]]},{"id":"0cce02e45f753cc9","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Hitzeschutz","links":["925f2ce58057cd81"],"x":495,"y":3100,"wires":[["b2c2c5dd0774a072"]]},{"id":"1bf470f1968158db","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"{\"position\":\"16\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":3160,"wires":[[]]},{"id":"707e3f5d3e048138","type":"link in","z":"b74f3aac1f073cdf","name":"Josefine Hitzeschutz","links":["925f2ce58057cd81"],"x":495,"y":3160,"wires":[["1bf470f1968158db"]]},{"id":"d01e3ce9e77be68c","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Schlafzimmer beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"{\"position\":\"22\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":3220,"wires":[[]]},{"id":"3d7a92af6017d097","type":"link in","z":"b74f3aac1f073cdf","name":"Schlafzimmer Hitzeschutz","links":["9b187f7580eb3ea0"],"x":495,"y":3220,"wires":[["d01e3ce9e77be68c"]]},{"id":"9fceff7097133157","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"10\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":3280,"wires":[["7cfeedbbf6e8a8c0"]]},{"id":"f35107fd58247ac9","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":3320,"wires":[[]]},{"id":"2b0d1d6393a01216","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":3280,"wires":[["9fceff7097133157"]]},{"id":"22729c3462d2614a","type":"link in","z":"b74f3aac1f073cdf","name":"Charlotte Dach Hitzeschutz","links":["9b187f7580eb3ea0"],"x":495,"y":3280,"wires":[["2b0d1d6393a01216","f35107fd58247ac9"]]},{"id":"7cfeedbbf6e8a8c0","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach beschatten","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":3280,"wires":[[]]},{"id":"30e74bbadf4862ca","type":"inject","z":"b74f3aac1f073cdf","name":"Click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":480,"wires":[["97573b50f3b8915d","78e8636f5d8f33ca","c255c019f42e1551","eb4345d5da310124","ce7130d83a8e1a51","bae8b519c34e14ce"]]},{"id":"a8c8de53a29f7fd0","type":"link in","z":"b74f3aac1f073cdf","name":"rolllaeden_oeffnen_erdgeschoss_alle","links":["900e0fafb62890d5"],"x":505,"y":3420,"wires":[["4ab5ac6298fa38d7","576c1dd603d931ad","1b4a099c36564bd6","3af2fdde7f37da41","382c888b8edce72f"]]},{"id":"4ab5ac6298fa38d7","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":3420,"wires":[["b02c1ab87f5a1d10"]]},{"id":"576c1dd603d931ad","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":3480,"wires":[["e19ff874480bd13d"]]},{"id":"1b4a099c36564bd6","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":3540,"wires":[["957cf01caf12fd92"]]},{"id":"b02c1ab87f5a1d10","type":"link out","z":"b74f3aac1f073cdf","name":"Küche hoch","mode":"link","links":["b1ab417e0fbc5739"],"x":1025,"y":3420,"wires":[]},{"id":"e19ff874480bd13d","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["794ee361666f1bb5"],"x":1025,"y":3480,"wires":[]},{"id":"957cf01caf12fd92","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["a29d67a9ac1bf896"],"x":1025,"y":3540,"wires":[]},{"id":"546944000e8cb0c8","type":"comment","z":"b74f3aac1f073cdf","name":"rolllaeden_oeffnen_erdgeschoss_alle","info":"","x":210,"y":3420,"wires":[]},{"id":"9d8720bce4706a99","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Suedseite hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115f2997cf61"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2680,"wires":[[]]},{"id":"dfd234911cceaaa1","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Westseite hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115f2997cf4d"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":2740,"wires":[[]]},{"id":"31bf5846330eb59e","type":"link in","z":"b74f3aac1f073cdf","name":"Suedseite öffnen","links":["98ab251705c3301c","e7c2897ec280e549","519cfb8133216723"],"x":495,"y":2680,"wires":[["9d8720bce4706a99"]]},{"id":"9ac68325dc36c029","type":"link in","z":"b74f3aac1f073cdf","name":"Westseite öffnen","links":["7182a763767dfe8a","ae63178d1446aca0","90c3cb1f6e80a6fe"],"x":495,"y":2740,"wires":[["dfd234911cceaaa1"]]},{"id":"3af2fdde7f37da41","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":3600,"wires":[["519cfb8133216723"]]},{"id":"382c888b8edce72f","type":"delay","z":"b74f3aac1f073cdf","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":3660,"wires":[["90c3cb1f6e80a6fe"]]},{"id":"519cfb8133216723","type":"link out","z":"b74f3aac1f073cdf","name":"Charlotte hoch","mode":"link","links":["31bf5846330eb59e"],"x":1025,"y":3600,"wires":[]},{"id":"90c3cb1f6e80a6fe","type":"link out","z":"b74f3aac1f073cdf","name":"Josefine hoch","mode":"link","links":["9ac68325dc36c029"],"x":1025,"y":3660,"wires":[]},{"id":"60e13574452735a7","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Schlafzimmer Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992e96b","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":120,"wires":[["a008df33ecd65343"],["c358defb6c811deb"]]},{"id":"352a54f163f921f0","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Terrassentür Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.neq1320731","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":220,"wires":[["f715a1f7b95b7eab"],["b159f07e2d7d49a4"]]},{"id":"133a497ffdce6a7a","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Terrasse Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.neq1320714","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":320,"wires":[["680c35a20d239e62"],["47baba111fc4badb"]]},{"id":"8d1d55a6629fde10","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Küche Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.oeq1220262","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":420,"wires":[["1dd3977e36354476"],["7f819119e50db251"]]},{"id":"907096263cb577cb","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Charlotte Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992ea44","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":520,"wires":[["7364c187dce5d073"],["e897afefcb53c4f1"]]},{"id":"53f2a40be770dc59","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Garagentor","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.00131f298ab97c","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":820,"wires":[["e0eb5c1ce0bc718c"],["e0eb5c1ce0bc718c"]]},{"id":"4843ac51a9a6f082","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Charlotte Dach Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d89991b61","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":620,"wires":[["97344b6878e226e6"],["32978d47f970e42b"]]},{"id":"40edabbcc5c6066c","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Josefine Rollladen","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.00115d8992ea34","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":720,"wires":[["28b814c9843319ee"],["0ac190936b6d960a"]]},{"id":"a008df33ecd65343","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Schlafzimmer wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["31e2d85a51ee364f"]]},{"id":"c358defb6c811deb","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Schlafzimmer wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["31e2d85a51ee364f"]]},{"id":"f715a1f7b95b7eab","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrassentür wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["31e2d85a51ee364f"]]},{"id":"b159f07e2d7d49a4","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrassentür wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["31e2d85a51ee364f"]]},{"id":"680c35a20d239e62","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrasse wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["31e2d85a51ee364f"]]},{"id":"47baba111fc4badb","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Terrasse wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["31e2d85a51ee364f"]]},{"id":"1dd3977e36354476","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Küche wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["31e2d85a51ee364f"]]},{"id":"7f819119e50db251","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Küche wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["31e2d85a51ee364f"]]},{"id":"7364c187dce5d073","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["31e2d85a51ee364f"]]},{"id":"e897afefcb53c4f1","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["31e2d85a51ee364f"]]},{"id":"97344b6878e226e6","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte Dach wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":620,"wires":[["31e2d85a51ee364f"]]},{"id":"32978d47f970e42b","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Charlotte Dach wurde öffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["31e2d85a51ee364f"]]},{"id":"28b814c9843319ee","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Josefine wurde geschlossen.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["31e2d85a51ee364f"]]},{"id":"0ac190936b6d960a","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Rollladen Josefine wurde geöffnet.","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":760,"wires":[["31e2d85a51ee364f"]]},{"id":"31e2d85a51ee364f","type":"link out","z":"281b4b3da3a92e49","name":"Telegram Notification","mode":"link","links":["6f6d32f8179ac907"],"x":895,"y":120,"wires":[]},{"id":"e0eb5c1ce0bc718c","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Garagentor geöffnet/geschlossen","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["31e2d85a51ee364f"]]},{"id":"beb80899c03387eb","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Andreas","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":960,"wires":[["4496cb4f64458b5e"],[]]},{"id":"4496cb4f64458b5e","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Andreas ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":960,"wires":[["31e2d85a51ee364f"]]},{"id":"951e5f05f24d8739","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Carolin","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.puppis_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1020,"wires":[["18953e70d5c60772"],[]]},{"id":"18953e70d5c60772","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Carolin ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1020,"wires":[["31e2d85a51ee364f"]]},{"id":"4fe6d9e0104a0123","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Sebastian","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.sebastians_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1080,"wires":[["287a157dd1d32f78"],[]]},{"id":"287a157dd1d32f78","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Sebastian ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1080,"wires":[["31e2d85a51ee364f"]]},{"id":"39ed21af09ac9f39","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Alarm - Armed Away","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1520,"wires":[["c56ea9354e84dd67"],[]]},{"id":"8a036f257ebac34d","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Alarm - Disarmed","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1600,"wires":[["c1ad1d2f19ad0a2c"],[]]},{"id":"c1ad1d2f19ad0a2c","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Alarmanlage deaktiviert","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Alarmanlage deaktiviert!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1600,"wires":[["31e2d85a51ee364f","2a42a13906e063b9"]]},{"id":"c56ea9354e84dd67","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Alarmanlage aktiviert!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Alarmanlage","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Alarmanlage aktiviert!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1520,"wires":[["31e2d85a51ee364f","2a42a13906e063b9"]]},{"id":"2a42a13906e063b9","type":"link out","z":"281b4b3da3a92e49","name":"Alexa Notification","mode":"link","links":[],"x":875,"y":1540,"wires":[]},{"id":"7f0c41a8fe40af88","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Anwesenheit - Christina","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.christinas_ipod_touch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1140,"wires":[["1d581ce408cc5d62"],[]]},{"id":"1d581ce408cc5d62","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Christina ist Zuhause!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1140,"wires":[["31e2d85a51ee364f"]]},{"id":"ab2811ea0bd36c21","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Terassentür - Zustand","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00109d89a2331b_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1380,"wires":[["27aa20bcba40fad3"],["f2304d72e6ef125e"]]},{"id":"f2304d72e6ef125e","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Terassentür geschlossen!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Sicherheit","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Terassentür geschlossen!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1420,"wires":[["31e2d85a51ee364f"]]},{"id":"27aa20bcba40fad3","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Terassentür geöffnet!","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Sicherheit","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Terassentür geöffnet!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1380,"wires":[["31e2d85a51ee364f"]]},{"id":"26f90586d50f37b5","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Hitzeschutz aktiviert","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Hausprogramm","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Der Hitzeschutz wurde aktiviert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1720,"wires":[["31e2d85a51ee364f"]]},{"id":"594819c9cbf21e38","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Hitzeschutz deaktiviert","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Hausprogramm","tot":"str"},{"t":"set","p":"txt_alexa","pt":"global","to":"Der Hitzeschutz wurde deaktiviert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1760,"wires":[["31e2d85a51ee364f"]]},{"id":"a83598d3fda0b4f4","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Programm \"Hitzeschutz\" aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.programm_hitzeschutz","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":1720,"wires":[["26f90586d50f37b5"],["594819c9cbf21e38"]]},{"id":"0d952774ac7d4626","type":"server-state-changed","z":"281b4b3da3a92e49","name":"Bewegung","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":880,"wires":[[],[]]},{"id":"de45e421a4af0a7e","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegungsmelder an","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":880,"wires":[["31e2d85a51ee364f"]]},{"id":"ed354050ef4f1171","type":"change","z":"281b4b3da3a92e49","name":"Notification Message","rules":[{"t":"set","p":"txt_telegram","pt":"global","to":"Bewegungsmelder aus","tot":"str"},{"t":"set","p":"title_telegram","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":920,"wires":[["31e2d85a51ee364f"]]},{"id":"bcc293c2d477f12c","type":"alexa-remote-routine","z":"bf50ba93627b93a9","name":"Alexa Nachricht","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"global","value":"txt_alexa"},"devices":["G090L909652213VJ"]}},"x":780,"y":160,"wires":[[]]},{"id":"0fbac5b4787bc39c","type":"link in","z":"bf50ba93627b93a9","name":"notify","links":["370585d00d28e491","5641571d92d703ce","d916ca34ba665535","dd0cac8f251cc378","5be2d40f72675d21","26ec2df19ec90834","058fe8399b575a3b","8ce5c725da5d1894"],"x":175,"y":160,"wires":[["2cc45a41487becd8","a3fb6c72413ab136"]]},{"id":"e2f7a5094b8cc4cf","type":"time-range-switch","z":"bf50ba93627b93a9","name":"","lat":"48.36","lon":"10.89","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":530,"y":160,"wires":[["bcc293c2d477f12c"],[]]},{"id":"2cc45a41487becd8","type":"api-current-state","z":"bf50ba93627b93a9","name":"Alarm disarmed","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":160,"wires":[["e2f7a5094b8cc4cf"],[]]},{"id":"a3fb6c72413ab136","type":"api-current-state","z":"bf50ba93627b93a9","name":"Alarm armed_away","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":220,"wires":[["6d7d22b55b2923de"],[]]},{"id":"6d7d22b55b2923de","type":"alexa-remote-routine","z":"bf50ba93627b93a9","name":"Alexa Nachricht","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"global","value":"txt_alexa"},"devices":["G090L909652213VJ"]}},"x":780,"y":220,"wires":[[]]},{"id":"6f6d32f8179ac907","type":"link in","z":"621709dd3ec9efe9","name":"notify","links":["3078c588d36a5af6","6d514f678b358fb4","b1323e8a331b0b85","e5f1aec0491ee802","1f7aa32efd690c5c","4888605286bbe13f","c4b1814c016ab483","9fe3a8e326654212","cb064c42b950f37e","957b51fc271995a8","7d772e275e1bce74","1876a94db5749e5e","4dba6c37d958a7cf","80d39ebcde9efe5d","31e2d85a51ee364f","b1d880fed1ba2e4b","15237bd431d5b248","50c9f41c5d8b2b42","dccd3461e969b4e1","328adabbbe555459","bc34fdcb4a8208f1","38a3a0b5ee52a0f0","8dcc8030060e1095","be0e59d49b5c36ed","a9173a127133a0fa","7ec26ed561ec3ffb","51d99e01c9c5f8fd","37cdaf1f823eb45c","0251f8c5764e1ca2","e3e177e2f884fd41","900e0fafb62890d5","a21e48b7e9e220a2","0cd4c40b727b9c7b","85b771e9c3da0173","4baaa5c61be60d44","1fade169f9d9266d"],"x":85,"y":80,"wires":[["b1f65db5ee367ec5"]]},{"id":"b1f65db5ee367ec5","type":"api-call-service","z":"621709dd3ec9efe9","name":"Telegram Nachricht","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\" {{ global.title_telegram }} \",\"message\":\" {{ global.txt_telegram }} \"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":280,"y":80,"wires":[[]]},{"id":"e05142f7742628a0","type":"api-call-service","z":"34b8b5495f787561","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\" {{ global.title_notificationdevice }} \",\"message\":\" {{ global.txt_notificationdevice }} \"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":220,"wires":[[]]},{"id":"17fba51b32ddfc10","type":"inject","z":"34b8b5495f787561","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["2f64044d47fa496f"]]},{"id":"2f64044d47fa496f","type":"change","z":"34b8b5495f787561","name":"Notification Message","rules":[{"t":"set","p":"txt_notificationdevice","pt":"global","to":"Rollladen Schlafzimmer wurde geschlossen.","tot":"str"},{"t":"set","p":"title_notificationdevice","pt":"global","to":"Statusänderung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["e05142f7742628a0"]]},{"id":"9f6d8d32a99e07d0","type":"api-call-service","z":"3418e769d08fa52b","name":"Schalter - Sonne auf Südseite - True","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_sonne_auf_sudseite"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":80,"wires":[[]]},{"id":"b5ae14dcd5eed444","type":"link in","z":"3418e769d08fa52b","name":"Sonne auf Südseite - True","links":["15b9f1d5234a830e"],"x":95,"y":80,"wires":[["9f6d8d32a99e07d0"]]},{"id":"661b42c4aa67e48c","type":"api-call-service","z":"3418e769d08fa52b","name":"Schalter - Sonne auf Westseite - True","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_sonne_auf_westseite"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":200,"wires":[[]]},{"id":"7d21eab2bf4f56a2","type":"link in","z":"3418e769d08fa52b","name":"Sonne auf Westseite - True","links":["509b1b159004a81a","96585b9624c3c91c"],"x":95,"y":200,"wires":[["661b42c4aa67e48c"]]},{"id":"55e46679a025b565","type":"api-call-service","z":"3418e769d08fa52b","name":"Schalter - Sonne auf Südseite - False","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_sonne_auf_sudseite"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":140,"wires":[[]]},{"id":"0e6447c9c52d419e","type":"link in","z":"3418e769d08fa52b","name":"Sonne auf Südseite - False","links":["ea55cc104e64b5b1"],"x":95,"y":140,"wires":[["55e46679a025b565"]]},{"id":"d473027f120af6e9","type":"api-call-service","z":"3418e769d08fa52b","name":"Schalter - Sonne auf Westseite - False","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_sonne_auf_westseite"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":260,"wires":[[]]},{"id":"35b16d749d05e9d3","type":"link in","z":"3418e769d08fa52b","name":"Sonne auf Westseite - False","links":["2ecc758a10cc9e3c","d5c44e7976872948"],"x":95,"y":260,"wires":[["d473027f120af6e9"]]},{"id":"1451abd48f30ca1b","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":540,"wires":[["1ae9e7b9100859da"]]},{"id":"1ae9e7b9100859da","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_12"],"data":"{\"color_name\":\"red\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":540,"wires":[[]]},{"id":"11bc61af503a882f","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":620,"wires":[["2272b66cfedc02d2"]]},{"id":"2272b66cfedc02d2","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":620,"wires":[[]]},{"id":"dd89e4ef5e7f912c","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["c28156afe8d1e33b"]]},{"id":"c28156afe8d1e33b","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"{\"color_name\":\"white\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":700,"wires":[[]]},{"id":"31ba872b56cafa22","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":780,"wires":[["3aa429f5a4ca3ca6"]]},{"id":"3aa429f5a4ca3ca6","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"{\"color_name\":\"cyan\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":780,"wires":[[]]},{"id":"8ca714768d83b320","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":880,"wires":[["554c716b35e9abea"]]},{"id":"554c716b35e9abea","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_12"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":880,"wires":[[]]},{"id":"2d8e9e6982cf8c53","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":960,"wires":[["e8ada2f409f6e083"]]},{"id":"e8ada2f409f6e083","type":"api-call-service","z":"3418e769d08fa52b","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":960,"wires":[[]]},{"id":"018e2c5a2e2c2eec","type":"inject","z":"3418e769d08fa52b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["592fb425392038d3"]]},{"id":"592fb425392038d3","type":"api-call-service","z":"3418e769d08fa52b","name":"Haustür - aus","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_12"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":480,"wires":[[]]},{"id":"cae9df5d2440c179","type":"inject","z":"3418e769d08fa52b","name":"Täglich 01:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["8c937e0a80675a65"]]},{"id":"8c937e0a80675a65","type":"api-call-service","z":"3418e769d08fa52b","name":"Reset Morning Livingroom Roll","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bol_morning_livingroom_roll_open_executed"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":420,"wires":[[]]},{"id":"43c6914289e6c6b7","type":"api-call-service","z":"2585425a398c551d","name":"Hausstatus - rot","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"{\"color_name\":\"red\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":100,"wires":[[]]},{"id":"c0040425ba5cc7c1","type":"api-call-service","z":"2585425a398c551d","name":"Hausstatus - grün","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"{\"color_name\":\"green\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":160,"wires":[[]]},{"id":"d4a76a5b2fdc8666","type":"server-state-changed","z":"2585425a398c551d","name":"Alarm aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":100,"wires":[["43c6914289e6c6b7"],[]]},{"id":"cb75c7dd7997dd8c","type":"server-state-changed","z":"2585425a398c551d","name":"Alarm aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":160,"wires":[["c0040425ba5cc7c1"],[]]},{"id":"bdcd8b65dc24d813","type":"server-state-changed","z":"2585425a398c551d","name":"Alarm aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":220,"wires":[["ae7c6b95d8b63974"],[]]},{"id":"ae7c6b95d8b63974","type":"api-call-service","z":"2585425a398c551d","name":"Hausstatus - blau","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.001a5d899a8286_8"],"data":"{\"color_name\":\"cyan\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":220,"wires":[[]]}]