node-red/flows.json
[{"id":"a9e2b1e172102919","type":"tab","label":"Alarmanlage","disabled":false,"info":"","env":[]},{"id":"b74f3aac1f073cdf","type":"tab","label":"Rollläden bei Abwesenheit","disabled":false,"info":"","env":[]},{"id":"38a2df28aa6b9ea2","type":"tab","label":"Rollläden bei Hitze","disabled":false,"info":"","env":[]},{"id":"af6d683e.b030f8","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"30614e38285a0c5c","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.178.75","proxyPort":"3456","cookieFile":"alexa_creds","refreshInterval":"3","alexaServiceHost":"layla.amazon.de","amazonPage":"amazon.de","acceptLanguage":"de-DE","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"0d5657b07ce159be","type":"server-state-changed","z":"a9e2b1e172102919","name":"Bewegungsmelder Erdgeschoss","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.00091a499b76bb_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":440,"wires":[["82e55290050d3dbf"],[]]},{"id":"82e55290050d3dbf","type":"change","z":"a9e2b1e172102919","name":"Gerät speichern","rules":[{"t":"set","p":"device","pt":"flow","to":"Bewegungsmelder Erdgeschoss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["6d4f9b49614a3c3b"]]},{"id":"6d4f9b49614a3c3b","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":520,"wires":[["962a4102bc53a4e7","70541ec19eb6e0f4","d6692f55e290188e"],[]]},{"id":"962a4102bc53a4e7","type":"api-call-service","z":"a9e2b1e172102919","name":"Telegram Nachricht","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Der Alarm wurde ausgelöst durch: {{ flow.device }} !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":440,"wires":[[]]},{"id":"70541ec19eb6e0f4","type":"delay","z":"a9e2b1e172102919","name":"Verzögerung 50s","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":870,"y":600,"wires":[["805161e42ad64ec2"]]},{"id":"805161e42ad64ec2","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":600,"wires":[["b5159bb700a555d3"],[]]},{"id":"b5159bb700a555d3","type":"api-call-service","z":"a9e2b1e172102919","name":"Einbruchalarm","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Der Alarm wurde ausgelöst durch: {{ flow.device }} !! Die Alarmanlage wurde nicht deaktiviert !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":600,"wires":[[]]},{"id":"a2b6ddb0af69e997","type":"server-state-changed","z":"a9e2b1e172102919","name":"Alarm deaktivieren","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":760,"wires":[["931b48c1265976db"],[]]},{"id":"931b48c1265976db","type":"api-call-service","z":"a9e2b1e172102919","name":"Telegram Nachricht","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Die Alarmanlage wurde ausgeschaltet !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":760,"wires":[[]]},{"id":"cf11ca2438c60553","type":"server-state-changed","z":"a9e2b1e172102919","name":"Alarm aktivieren","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":820,"wires":[["116c41028900a070"],[]]},{"id":"116c41028900a070","type":"api-call-service","z":"a9e2b1e172102919","name":"Telegram Nachricht","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Die Alarmanlage wurde eingeschaltet !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":820,"wires":[[]]},{"id":"5945638f451ad0a5","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Alarm aktiv","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Achtung. Die Alarmanlage ist noch aktiv!"},"devices":["G090L909652213VJ"]}},"x":1310,"y":520,"wires":[[]]},{"id":"d6692f55e290188e","type":"delay","z":"a9e2b1e172102919","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":870,"y":520,"wires":[["58671c997d2da98c"]]},{"id":"58671c997d2da98c","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":520,"wires":[[],[]]},{"id":"0d5049ac9c762bfe","type":"api-current-state","z":"a9e2b1e172102919","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1530,"y":600,"wires":[[],[]]},{"id":"6179d65e1fe55f6c","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Alarm aktiv","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Die Alarmanlage wurde deaktiviert."},"devices":["G090L909652213VJ"]}},"x":770,"y":760,"wires":[[]]},{"id":"67584c33c20fe1dc","type":"alexa-remote-routine","z":"a9e2b1e172102919","name":"Alexa - Alarm aktiv","account":"30614e38285a0c5c","routineNode":{"type":"speak","payload":{"type":"announcement","text":{"type":"str","value":"Die Alarmanlage wurde aktiviert!"},"devices":["G090L909652213VJ"]}},"x":770,"y":820,"wires":[[]]},{"id":"8376876874bafe39","type":"inject","z":"b74f3aac1f073cdf","name":"Morgens","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["a2c8dae0c744146b"]]},{"id":"a2c8dae0c744146b","type":"api-current-state","z":"b74f3aac1f073cdf","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":220,"wires":[["37a4bb70dcc481ed","0a7022ea73052e5b","6e898a4aaa227b03","9360a2fc8ce55af5","3101bc97b632e812"],[]]},{"id":"37a4bb70dcc481ed","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":220,"wires":[[]]},{"id":"0a7022ea73052e5b","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":280,"wires":[[]]},{"id":"6e898a4aaa227b03","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":340,"wires":[[]]},{"id":"9360a2fc8ce55af5","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":460,"wires":[[]]},{"id":"848bef9952dd7286","type":"inject","z":"b74f3aac1f073cdf","name":"Abends","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":640,"wires":[["d7de42bd7510f75b"]]},{"id":"d7de42bd7510f75b","type":"api-current-state","z":"b74f3aac1f073cdf","name":"Alarmmodus","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":640,"wires":[["bdb4847af1c9e120","2aa6e5ae0d2cc9e8","c10224a82a097474","dcc986337f0ede26","c06a99409b7181f1"],[]]},{"id":"bdb4847af1c9e120","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrasse runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320714"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":640,"wires":[[]]},{"id":"2aa6e5ae0d2cc9e8","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Küche runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.oeq1220262"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":700,"wires":[[]]},{"id":"c10224a82a097474","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":760,"wires":[[]]},{"id":"dcc986337f0ede26","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Josefine runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea34"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":880,"wires":[[]]},{"id":"3101bc97b632e812","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"{\"position\":\"95\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":400,"wires":[[]]},{"id":"c06a99409b7181f1","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Charlotte Dach hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d8992ea44"],"data":"{\"position\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":820,"wires":[[]]},{"id":"a1874106d82f24f9","type":"server-state-changed","z":"b74f3aac1f073cdf","name":"Alarm aktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":470,"y":960,"wires":[["6fb6614b88cde53e"],[]]},{"id":"6fb6614b88cde53e","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":960,"wires":[[]]},{"id":"7790adebcfda7c80","type":"server-state-changed","z":"b74f3aac1f073cdf","name":"Alarm deaktiviert","server":"af6d683e.b030f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":480,"y":1020,"wires":[["0fd6cad7a9b003ce"],[]]},{"id":"0fd6cad7a9b003ce","type":"api-call-service","z":"b74f3aac1f073cdf","name":"Rollladen Terrassentür runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.neq1320731"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1020,"wires":[[]]},{"id":"91ca783a8e928ecb","type":"inject","z":"38a2df28aa6b9ea2","name":"Stündlich","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["ff3d89f989c99d09"]]},{"id":"206de51b7698a209","type":"api-current-state","z":"38a2df28aa6b9ea2","name":"Aussentemperatur über 23°","server":"af6d683e.b030f8","version":3,"outputs":2,"halt_if":"23","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.temperature_diedorf_schwaben_bib","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":280,"wires":[["e645f71b415771af"],["a34698775c32dfbb"]]},{"id":"ff3d89f989c99d09","type":"time-range-switch","z":"38a2df28aa6b9ea2","name":"Spanne agsüber","lat":"","lon":"","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":340,"y":280,"wires":[["206de51b7698a209"],[]]},{"id":"2dffb517b7a19fc3","type":"api-call-service","z":"38a2df28aa6b9ea2","name":"Telegram Nachricht Warm","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Es wird warm heute. Ich fahre die Rollläden zum Schutz vor der Sonne runter !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":200,"wires":[[]]},{"id":"0afe2123c63e82ec","type":"api-call-service","z":"38a2df28aa6b9ea2","name":"Telegram Nachricht Abkühlung","server":"af6d683e.b030f8","version":5,"debugenabled":true,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Es wird wieder kühler draussen. Ich lasse etwas Licht herein !!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":380,"wires":[[]]},{"id":"1920b023b73ab414","type":"inject","z":"38a2df28aa6b9ea2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":100,"wires":[["206de51b7698a209"]]},{"id":"e645f71b415771af","type":"time-range-switch","z":"38a2df28aa6b9ea2","name":"Spanne agsüber","lat":"","lon":"","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":840,"y":260,"wires":[["2dffb517b7a19fc3","a2e97ace36a4fb39"],[]]},{"id":"a34698775c32dfbb","type":"time-range-switch","z":"38a2df28aa6b9ea2","name":"Spanne agsüber","lat":"","lon":"","startTime":"13:00","endTime":"sunset","startOffset":0,"endOffset":0,"x":840,"y":340,"wires":[["0afe2123c63e82ec","deadd0d63be96f86"],[]]},{"id":"a2e97ace36a4fb39","type":"api-call-service","z":"38a2df28aa6b9ea2","name":"Rollladen Schlafzimmer runter","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":260,"wires":[[]]},{"id":"deadd0d63be96f86","type":"api-call-service","z":"38a2df28aa6b9ea2","name":"Rollladen Schlafzimmer hoch","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.00115d8992e96b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":440,"wires":[[]]}]