node-red/flows.json
[{"id":"a9e2b1e172102919","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"af6d683e.b030f8","type":"server","name":"Home Assistant","addon":true},{"id":"3a5dd969d1aca930","type":"inject","z":"a9e2b1e172102919","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":380,"wires":[["63c40504bd4a5147"]]},{"id":"63c40504bd4a5147","type":"api-call-service","z":"a9e2b1e172102919","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":10}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":380,"wires":[[]]},{"id":"c20c97455b29e67d","type":"inject","z":"a9e2b1e172102919","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":440,"wires":[["e4bd2ad7d57bd455"]]},{"id":"e4bd2ad7d57bd455","type":"api-call-service","z":"a9e2b1e172102919","name":"","server":"af6d683e.b030f8","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.00115d89991b61"],"data":"{\"position\":90}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":440,"wires":[[]]}]